<!--het-->
<div id="gene-tab_het" class='tab-pane'>
    <div class='row'>
        <div class="col-md-9">
            <h3 class='grey'>Dominant <small id='het_small'></small></h3>
            <h4>Number of affected patients: <span id='dot-het-pNum'></span>
            <br>Number of matching variants: <span id='dot-het-vNum'></span></h4>

            <div class='col-md-11 col-md-offset-1'>
                <div class='row'>
                    <input id="het_exac_table_slider" class='slider' type="text" data-slider-min="0" data-slider-max="0.001" data-slider-step="0.0001" data-slider-value="0.0001" /> &nbsp;&nbsp;
                    <span id="het_exac_tableCurrentSliderValLabel">ExAC_AF cutoff: <span id="het_exac_tableSliderVal">0.0001</span></span>
                </div>
                <div class='row'>
                    <input id="het_cadd_table_slider" class='slider' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="15" /> &nbsp;&nbsp;
                    <span id="het_cadd_tableCurrentSliderValLabel">CADD Phred cutoff: <span id="het_cadd_tableSliderVal">15</span></span>
                    <label>
                        <input class='remove' id='table-remove-hom' type="checkbox"> Remove hom-comp </label>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12' id="gene-hpo-het-tableDiv">
                    <table id="gene-hpo-het-table" class="table-sorter"> </table>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <h3 class='grey'>Phenogenon Dominant</h3>
            <input id="het_exac_graph_slider" type="hidden" value="0.0001" />
            <input class='remove' id='graph-remove-hom' type="hidden">
            <input id="het_cadd_graph_slider" type="hidden" value="15" />
            <br>
            <button class='btn btn-success' id='copy-het'>Convert to png</button>
            <br>
            <br>
            <div class='hpo' id='dot-het'> </div>
            <div class="clearfix"></div>
            <div class='copy' id='copy-het-div'></div>
        </div>
    </div>
</div>
<!--tab2-->
