

<!-- filter cell -->
{% if v.filter == 3 %}
<tr class='table-gene error' 
{% elif v.filter == "FAIL" %}
<tr class='table-gene fail' 
{% elif v.filter.startswith('VQSRTrancheSNP') %}
<tr class='table-gene warn' 
{% elif v.filter=='PASS' %}
 <tr style="table-gene word-wrap; break-word"
{% else %}
 <tr style="table-gene word-wrap; break-word"
{% endif %}
 id='{{variant_type}}-{{ v.HUGO|upper }}'>


<!-- variant_id cell -->
<td class="variant-id-cell">
    <span style='word-break: break-all;' data-placement='right' class='pop pointer variant_id'><a href='/variant/{{ v.variant_id }}' target='_blank'>{{ v.variant_id }}</a></span><br/>
    {% if v.ID.startswith('rs') %}
        <a href='http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs={{v.ID}}'><small>{{ v.ID }}</small></a> <br/>
    {% endif %}
    <a href='/sequence?variant_id={{ v.variant_id }}&symbol={{ v.HUGO }}&build=grch37'><small>Primer design</small></a>
</td>



<!-- UCLex allele_freq -->
<td class='allele-freq-cell'>
<span class='tip' title='{{ v.allele_count|round|int~'/'~v.allele_num|round|int }}<br /><b>Missing cases: </b>{{ v.MISS_COUNT|round|int }}'>{{'%0.4f' % v.allele_freq|float }}</span>
</td>


<!-- ExAC allele_freq -->
<td class='ExAC-freq-cell'>
    {% if v.EXAC %}
        <span class='tip' title="{% for k in v.EXAC|sort %}
                {% if k[0]=='H' and  v.EXAC[k]|float>0 %}
                   <b>{{k}}: </b> {{'%0.0f' % v.EXAC[k]|float }}<br />
               {% endif %}
            {% endfor %}
            ">{{'%0.6f' % v.EXAC['AF'] }}</span>
    {% else %}
        <b>Not in ExAC</b>
    {% endif %}
</td> 


<!-- kaviar -->
<td class='kaviar-freq-cell'>
{% if v.kaviar %}
    <span class='tip'>{{'%0.6f' % v.kaviar|float }}</span>
{% else %}
    <b>Not in Kaviar</b>
{% endif %}
</td>

<!-- consequence -->
<td class=most-severe-consequence-cell>
    <span class='tip' title="{{v.most_severe_consequence}}">{{v.most_severe_consequence}}</span>
</td>

<!-- protein change cell -->
<td class="mutation-cell">
{% for pm in v.protein_mutations %}
   <span class='tip' title="{{ v.protein_mutations[pm] }}<br>{{v.canonical_hgvs[pm]}}">{{ v.protein_mutations[pm] }}</span>
{% endfor %}
</td>



<!-- cadd score cell -->
<td class="canonical-cadd-cell">
{{ v.canonical_cadd[0] }}
</td>


<!-- first 10 het individuals -->
<td class="het-individuals-cell">
{% for s in v.het_samples[:10]|sort %}
<!-- <span class='tip' title='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'> -->
{% if individuals[s]|length > 1 %}
    {% if session['user'] == 'demo' %}
        hidden
    {% else %}
        <b> <span  data-placement='left' class='pop pointer individual_id' variantids='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'><a href="/individual/{{s}}" target='_blank'>{{s}}</a></span><br/> </b>
    {% endif %}
{% else %}
    {% if session['user'] == 'demo' %}
        hidden
    {% else %}
        <span  data-placement='left' class='pop pointer individual_id' variantids='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'><a href="/individual/{{s}}" target='_blank'>{{s}}</a></span><br/>
    {% endif %}
{% endif %}
{% endfor %}
</td>

<!-- first 10 hom individuals -->
<td class="hom-individuals-cell">
{% for s in v.hom_samples[:10]|sort %}
<!-- <span class='tip' title='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'> -->
{% if individuals[s]|length > 1 %}
    {% if session['user'] == 'demo' %}
        hidden
    {% else %}
        <b> <span  data-placement='left' class='pop pointer individual_id' variantids='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'><a href="/individual/{[s}}">{{s}}</a></span><br/> </b>
    {% endif %}
{% else %}
    {% if session['user'] == 'demo' %}
        hidden
    {% else %}
        <span  data-placement='left' class='pop pointer individual_id' variantids='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'><a href="/individual/{{s}}">{{s}}</a></span><br/>
    {% endif %}
{% endif %}
{% endfor %}
</td>



</tr>


