<!--hom-comp-->
<div id="gene-tab_comp" class="tab-pane active">
    <div class="row">
        <div class="col-md-9">
            <h3 class='grey'>Recessive <small id='hom_comp_small'></small></h3>
            <h4>Number of affected patients: <span id='dot-hom_comp-pNum'></span>
            <br>Number of matching variants: <span id='dot-hom_comp-vNum'></span></h4>

            <div class='col-md-11 col-md-offset-1'>
                <div class='row'>
                    <input id="hom-comp_exac_table_slider" class='slider' type="text" data-slider-min="0" data-slider-max="0.01" data-slider-step="0.0001" data-slider-value="0.01"/> &nbsp;&nbsp;
                    <span id="hom-comp_exac_tableCurrentSliderValLabel">ExAC_AF cutoff: <span id="hom-comp_exac_tableSliderVal">0.01</span></span>
                </div>
                <div class='row'>
                    <input id="hom-comp_cadd_table_slider" class='slider' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="15" /> &nbsp;&nbsp;
                    <span id="hom-comp_cadd_tableCurrentSliderValLabel">CADD Phred cutoff: <span id="hom-comp_cadd_tableSliderVal">15</span></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12' id="gene-hpo-hom_comp-tableDiv">
                    <table id="gene-hpo-hom_comp-table" class="table-sorter"> </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class='grey'>Phenogenon Recessive</h3>
            <input id="hom-comp_exac_graph_slider" type="hidden"  value="0.01"/>
            <input id="hom-comp_cadd_graph_slider" type="hidden" value="15"/>
            <br>
            <button class='btn btn-success' id='copy-hom-comp'>Convert to png</button>
            <br>
            <br>
            <div class='hpo' id='dot-hom_comp'> </div>
            <div class="clearfix"></div>
            <div class='copy' id='copy-hom-comp-div'></div>
        </div>
    </div>
</div>
