language: python
python:
  - "2.7"
dist: trusty  
group: deprecated-2017Q4
cache: pip
# submodules is set to false to overcome a problem on Travis, we use the git line below instead.  
git:
  submodules: false 
before_install:
  - git submodule update --init --recursive
  
install: 

# conda - from http://conda.pydata.org/docs/travis.html#using-conda-with-travis-ci
# We use this because otherwise scipy can't be installed on Travis.
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  # server test relevant
  - bash miniconda.sh -b -p $HOME/miniconda;
  - export PATH="$HOME/miniconda/bin:$PATH";
  - hash -r;
  - conda config --set always_yes yes --set changeps1 no;
  - conda update -q conda;
  # Useful for debugging any issues with conda;
  - conda info -a;
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION scipy==0.18.1;
  - source activate test-environment;
  - pip install Cython==0.25.2 --install-option="--no-cython-compile"; 
  - pip install -r requirements.txt
  - cd varnorm;
  - python setup.py install;
  - cd ..;
  - pip install coveralls

services:
  - mongodb
  - neo4j

script:
# command to run coveralls (test coverage) and run tests 
  - coverage run --omit=*/site-packages/*,*/tests/* -m unittest discover -s tests
  
after_success:
  coveralls

notifications:
  slack:
    secure: QO2ROUqWVpWG2fQoRSQJq3BBufzVHMPZynkuyPotFiqleBOYwPz5UzVu+prx5kIPOeJ0C15+vREgKIz+fudWrs83+EnwVZ/m60xJk6m51dxeQ9/GoRPf1x+5nRRMyj5rMZ8RMlzR3svn/LuJo+x3v7vyGSr6lHZmFRLH1fx4ZZIJ7y9frb178UZToCrM3Yd4FwHlvzae6JhIV7BF71QQ1WSQQzVtUB/BsCwMTv3WwnWQ7xoytnMs9M21Me7zRh42kl8tQg2Nyrro2p5MZL4s34XRdcA/Q/EMbab2kFnANgAMB/L5rZO6WFRZXbO5R6tw13rXAUClN+H6CptBdoNVEec+1fRRHMjIw2k2YxnL7UqwSAyiu8pss6oHPto/+GS716tvG8W03QNushXRwV+1/jUzp6fkCXhfaOSigk7GP3KbhsF3LhmyC7ySIExc156PE7xhk1eG8i6XsEjSiazxqQRAki0I9XipTC1r9e7fPR3ThaerK2FGuQUal56o3TZJow4QVgz7sf+XYqHT0Zts7P7PVhCsya7ScApvksaMuMzMjPN2DuIOfybsu0qz/5O1hnTT658PaXAd4oCsl5a6F58aAqW319nDa/JIn6cnbu2nlYV9oAmb79fupXn3DK9Z2zpyYaYqsd3jKtZZ3RC+GCCsrK+mk7kOA6YFn6P0K7Y=
