language: python
python:
  - "2.7"
  
# submodules is set to false to overcome a problem on Travis, we use the git line below instead.  
git:
  submodules: false 
before_install:
  - git submodule update --init --remote --recursive
  
env:
  - TEST_SUITE=server
  - TEST_SUITE=offline
install: 

# conda - from http://conda.pydata.org/docs/travis.html#using-conda-with-travis-ci
# We use this because otherwise scipy can't be installed on Travis.
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  # server test relevant
  - if [[ "$TEST_SUITE" == "server" ]]; then
        bash miniconda.sh -b -p $HOME/miniconda;
        export PATH="$HOME/miniconda/bin:$PATH";
        hash -r;
        conda config --set always_yes yes --set changeps1 no;
        conda update -q conda;
        Useful for debugging any issues with conda;
        conda info -a;
        conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION scipy==0.18.1;
        source activate test-environment;
         # end of conda install
        pip install Cython==0.25.2 --install-option="--no-cython-compile"; 
    fi
  - pip install -r requirements_$TEST_SUITE.txt
  - if [[ "$TEST_SUITE" == "server" ]]; then
        cd varnorm;
        python setup.py install;
        cd ..;
    fi
  - pip install coveralls

services:
  - mongodb
  
script:
  - VIEWS_DIR_PATH="$(readlink -f views)"
  - TEMPLATE_DIR_PATH="$(readlink -f templates)"
  - STATIC_DIR_PATH="$(readlink -f static)"
  - ln -s $STATIC_DIR_PATH $VIEWS_DIR_PATH/static
  - ln -s $TEMPLATE_DIR_PATH $VIEWS_DIR_PATH/templates  
# command to run coveralls (test coverage) and run tests 
  - coverage run --omit */site-packages/* -m unittest discover -s tests/$TEST_SUITE
  
after_success:
  coveralls

