import glob
import os

DB_HOST='localhost'
DB_PORT=27017
DB_NAME='uclex-old'
DEBUG=True
DEBUG_TB_TEMPLATE_EDITOR_ENABLED=True
#SECRET_KEY='development key'
UCLEX_FILES_DIRECTORY='/data/uclex_files/'
# contigs assigned to threads, so good to make this a factor of 24 (eg. 2,3,4,6,8)
LOAD_DB_PARALLEL_PROCESSES = 4
#SITES_VCFS=glob.glob(os.path.join(os.path.dirname(__file__), UCLEX_FILES_DIRECTORY, 'uclex.vep.vcf.gz')),
#SITES_VCFS=glob.glob(os.path.join(os.path.dirname(__file__), UCLEX_FILES_DIRECTORY, 'test.vcf.gz')),
SITES_VCFS=glob.glob( os.path.join(UCLEX_FILES_DIRECTORY, 'mainset_November2015', 'mainset_*_chr*.vcf.gz') )
GENCODE_GTF=os.path.join( UCLEX_FILES_DIRECTORY, 'gencode.gtf.gz')
CANONICAL_TRANSCRIPT_FILE=os.path.join(UCLEX_FILES_DIRECTORY, 'canonical_transcripts.txt.gz')
OMIM_FILE=os.path.join(UCLEX_FILES_DIRECTORY, 'omim_info.txt.gz')
BASE_COVERAGE_FILES=glob.glob( os.path.join(UCLEX_FILES_DIRECTORY, 'coverage', 'Panel.*.coverage.txt.gz') )
DBNSFP_FILE=os.path.join( UCLEX_FILES_DIRECTORY, 'dbNSFP2.6_gene.gz')
CONSTRAINT_FILE=os.path.join( UCLEX_FILES_DIRECTORY, 'forweb_cleaned_exac_r03_march16_z_data_pLI.txt.gz')
MNP_FILE=os.path.join( UCLEX_FILES_DIRECTORY, 'MNPs_NotFiltered_ForBrowserRelease.txt.gz')
# How to get a dbsnp142.txt.bgz file:
#   wget ftp://ftp.ncbi.nlm.nih.gov/snp/organisms/human_9606_b142_GRCh37p13/database/organism_data/b142_SNPChrPosOnRef_105.bcp.gz
#   zcat b142_SNPChrPosOnRef_105.bcp.gz | awk '$3 != ""' | perl -pi -e 's/ +/\t/g' | sort -k2,2 -k3,3n | bgzip -c > dbsnp142.txt.bgz
#   tabix -s 2 -b 3 -e 3 dbsnp142.txt.bgz
DBSNP_FILE=os.path.join(UCLEX_FILES_DIRECTORY, 'dbsnp142.txt.bgz')
READ_VIZ_DIR= ""
GENE_CACHE_DIR = os.path.join(UCLEX_FILES_DIRECTORY, 'gene_cache')
GENES_TO_CACHE = {l.strip('\n') for l in open(os.path.join(UCLEX_FILES_DIRECTORY, 'genes_to_cache.txt'),'r')}
HPO_OBO= os.path.join(UCLEX_FILES_DIRECTORY, 'hp.obo')

# pubmedBatch field defaults
PUBMED_EMAIL='jing.yu@ndcn.ox.ac.uk'
PUBMEDBATCH_OR='retina retinal retinitis blindness macula macular stargardt'
# pubmedBatch search lifetime in second. 2592000 = 30 days
PUBMEDBATCH_LIFE=2592000
DEFAULT_USER='Jing'

