body { padding-top: 70px; }
    
#topcontainer {
    	text-align: center;
    	width: 100%;
    	background: url('../images/bg.jpg') no-repeat center center fixed;
    	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    	color: white;
    	opacity: 30%;
}

h1 {
    	text-align: center;
    	padding-top: 50px;
}
    
h3 {
    	padding-top: 50px;
}
    
h1#title {
    	font-size: 3em;
}
    
.title {
    	padding-top: 0;
    	padding-bottom: 10px;
    	text-align: center;
}
    
.list-title:hover {
    	cursor:pointer;
}
    
h1 .glyphicon {
    	font-size: 0.8em;
    }
    
p.lead {
    	font-weight: bold;
    	margin-top: 20px;
}
    
.p-footer {
    	text-align: center;
}
    
ul#userIcon {
    	float: right;
}
    
div#error, div.error {
    	position: absolute;
    	z-index: 10;
}
	
div.bs-docs-sidebar {
		padding-left: 50px;
		padding-top: 81px;
}

img.demo-img {
		border: grey 1px solid;
		border-radius: 15px;
}

.affix {
		top: 30px;
}
	
ul.bs-docs-sidenav li a {
		color: #BDBDBD;
}

ul.bs-docs-sidenav li.active a {
		color: grey;
        font-weight: bold;
}

ul.bs-docs-sidenav li.active ul a{
		color: #BDBDBD;
		font-weight: normal;
}

ul.bs-docs-sidenav li.active ul li.active a {
		color: grey;
		font-weight: bold;
}
	
.bs-docs-sidenav .nav {
		display: none;
		font-size: 0.85em;
		padding-left: 7px;
		padding-top: 0;
}

/* show sub menu when parent is active */
.bs-docs-sidenav>.active>ul {
		display: block;
}
	
.footer {
  		bottom: 0;
  		/* Set the fixed height of the footer here */
  		height: 60px;
  		padding-top: 20px;
  		background-color: #f5f5f5;
}
	
a.no_dec {
		text-decoration: none;
		color: #333;
}
	
.footer a.btn {
		margin-top: -4px;
}
	
/* give strains a rod 'glyphicon' */
div#rod {
		display: inline-block;
		margin-bottom: 2px;
		width: 20px;
		height: 6px;
		border-radius: 3px;
		background-color: grey;
		-ms-transform: rotate(-60deg); /* IE 9 */
    	-webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */
    	transform: rotate(-60deg);
}	
	
/* plasmid 'glyphicon' */
div#circle {
		display: inline-block;
		width: 14px;
		height: 14px;
		border-radius: 7px;
		border: 2px solid grey;
}
	
div#primer-icon {
		display: inline-block;
		-ms-transform: rotate(90deg); /* IE 9 */
    	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    	transform: rotate(90deg);
}

p.show {
	text-align: center;
}
	
a.tree {
	color: #DBA901;
}
	
a.tree:hover {
	color: green;
}
	
.left-column {
		border: 1px solid grey;
		border-radius: 10px;
}

	div.radio {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	
	button.edit {
		border: none;
		background-color: #F8F8F8;
		color: grey;
		margin-top: 13px;
	}
	
	button.edit:hover {
		color: #333333;
	}
	
ul#genotype {
		padding-left: 15px;
}
	.store { 
		list-style-type: none; 
		padding-left: 0;
	}
  	.store li { 
  	 	border:1px solid #E7E7E7;
  	 	border-radius: 5px;
  	 	padding-top: 5px;
  	 	padding-bottom: 5px;
  	 	padding-left: 5px;
  	}
  	.add-location {
  		color: green;
  	}
  	.add-location:hover, .rem:hover {
  		cursor: pointer; 
  	}  	
  	.rem {
  		float: right;
  		color: red;
  		margin-right: 10px;
  	}  	
  	div.control {
  		margin-bottom: 50px;
  		margin-top: 30px;
		border-left: 4px solid green;
		padding-bottom: 10px;
  	}
  	input.input-pop {
  		width: 250px;
  	}
  	.list-custom {
  		display:inline-block;
  		font-size:0.9em;
  		border: 1px solid grey;
  		border-radius: 15px;
  		padding: 5px 15px 5px 5px;
  		margin-bottom: 10px;
  	}
  	.list-custom:hover {
  		cursor:crosshair;
  	}
  	span.x {
  		position:relative;
  		top:-4px;
  		right:-8px;
  		font-size:0.7em;
  	}
  	span.x, span.pointer:hover {
  		cursor:pointer;
  	}
  	.paired_with {
  		padding: 5px;
  		margin-bottom: 2px;
  		border: 1px solid grey;
  		border-radius: 5px;
  	}
    .round-button {
		display:block;
		width:100px;
		height:100px;
		border: 2px solid #f5f5f5;
		border-radius: 50%;
		color:#2E2E2E;
		text-align:center;
		text-decoration:none;
		background: #E6E6E6;
		box-shadow: 0 0 3px gray;
		font-size:20px;
		font-weight:bold;
		transition:0.5s;
	}
	.round-button:hover {
		background: #6E6E6E;
		color:#E6E6E6;
	}

.tabs {
    width:100%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#fff;
    color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

/* css needed to get compare selector & slider in-line */
.compare-select-wrapper { min-width: 60%; float: right; }

