/* HOME Page*/

.home .section {
  padding-top: 5rem;
  padding-bottom: 5rem
}

nav i.left {
  margin-right: 5px;
}

.section .collection {
  background-color: #fff;
}

.section .collection-item.avatar {
  min-height: 118px;
  padding-left: 134px;
  border-bottom: none;
}

.section .collection-item.avatar img.circle {
  height: 100px;
  width: 100px;
}

#team .row {
  margin-bottom: initial;
}

#team .collection .collection-item.avatar p {
  overflow-y: scroll;
  margin-bottom: 1rem !important;
  margin-top: 0.656rem
}

#team .collection .collection-item.avatar span {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

#team .collection .collection-item.avatar .material-icons {
  font-size: inherit;
}

#team .collection .collection-item.avatar h5 {
  margin-bottom: 0
}

@media only screen and (min-width: 993px) {
  .home .container {
    width: 70%
  }
}

.home {
  background-color: #fff;
}

.home .section {
  padding-top: 5rem;
  padding-bottom: 5rem
}

.app {
  background-color: #e3e3e3;
}

.app-wrapper {
  margin: 0 auto;
  margin-top: 3.5rem
}

p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media only screen and (min-width: 993px) {
  /* Make the container wider for the app*/
  .container {
    width: 95%;
    max-width: 1700px;
  }
}


/* 
*  DROPDOWN MENU IN NAVBAR 
*/

nav .dropdown-content {
  overflow-y: auto;
  background-color: #FFF;
  margin: 0 0 0 -1px;
  display: none;
  min-width: 250px;
  max-height: auto;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

nav .dropdown-content li {
  clear: both;
  color: rgba(0, 0, 0, .87);
  cursor: pointer;
  min-height: 50px;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  text-transform: none;
}

nav .dropdown-content li.active,
nav .dropdown-content li:hover {
  background-color: #eee;
}

nav .dropdown-content li>span {
  font-size: 16px;
  color: #26a69a;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

nav .dropdown-content li>span>label {
  top: 1px;
  left: 3px;
  height: 18px;
}

.collection .collection-item.avatar {
  min-height: 62px;
}

.collection .collection-item.avatar .title {
  line-height: 42px;
  font-size: 17px;
  padding: 0;
}


/* 
*  AUTOCOMPLETE
*/

.autocomplete-content {
  position: absolute;
}

span.twitter-typeahead {
  display: inline-block !important;
}

.searching span.twitter-typeahead {
  display: inherit !important;
}

.searching input.typeahead.tt-input {
  vertical-align: initial !important;
}

.searching .input-field .twitter-typeahead + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 65px;
  opacity: 0;
  transition: 0.2s opacity ease-out, 0.2s color ease-out;
}

.searching .input-field .twitter-typeahead ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.3s color;
}


.tt-suggestion,
.tt-selectable {
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  min-height: 50px;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  text-transform: none;
  font-size: 16px;
  color: #26a69a;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.tt-suggestion:hover,
.tt-selectable:hover,
.tt-cursor {
  background-color: #eee;
}

.tt-hint {
  color: #999;
}

.searching .twitter-typeahead {
  margin-left: 3rem;
}

.searching .tt-hint,
.searching .twitter-typeahead .prefix {
  margin-left: -3rem;
}

.searching .input-field .twitter-typeahead .prefix ~ input.tt-hint,
.searching .input-field .twitter-typeahead .prefix ~ .autocomplete-content {
  margin-left: 0;
}

.chips .twitter-typeahead .input {
  height:2rem;
}

#search_home,
#home_search_group label {
  margin-left: 0;
  left: 0;
}

#nav_search_bar_wrapper {
  margin: 0 auto;
  width: 50%;
  height: 100%;
}

#nav_search_bar_wrapper form {
  height: 80%;
  width: 100%;
  background-color: rgba(79, 166, 214, 0.5);
}

#nav_search_bar_wrapper form .material-icons {
  height: 54px;
  line-height: 54px;
}

#nav_search_bar_wrapper .twitter-typeahead {
  height: 100%;
  margin-left: 4rem;
}

#nav_search_bar_wrapper .twitter-typeahead input {
  margin-left: 0;
  padding-left: 0;
}

.twitter-typeahead ~ #search_navbar_label {
  padding-left: 1rem;
}

#search_navbar_label .material-icons {
  transition: color 0s
}

#navbar_search_form .input-field .twitter-typeahead .autocomplete-content.dropdown-content {
  opacity: initial;
  margin-left: -4rem;
  width: calc(100% + 4rem);
  max-height: 600px;
  overflow: scroll;
}

.chips .twitter-typeahead .autocomplete-content.dropdown-content {
  max-height: 250px;
  overflow: scroll;
  margin-top: 9px;
}

#navbar_search_form .twitter-typeahead .tt-suggestion.tt-selectable {
  padding-left: 4rem;
}

.typeahead::-webkit-input-placeholder {
  /* WebKit browsers */
  text-transform: none;
}

.typeahead:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  text-transform: none;
}

.typeahead::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  text-transform: none;
}

.typeahead:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  text-transform: none;
}

.info_table tr td:first-child {
  text-align: right;
  border-right: 1px solid #d0d0d0;
}

.info_table tr td:last-child {
  text-align: left;
}

.info_table td {
  padding: 5px 8px;
}

.info_table {
  width: initial;
}


/*************
  Materialize theme (http://materializecss.com/)
 *************/

table.tablesorter-materialize {
  font-size: 0.9rem;
}


/* jQuery materialize Theme */

.tablesorter-materialize thead th,
.tablesorter-materialize thead td,
.tablesorter-materialize tfoot th,
.tablesorter-materialize tfoot td {
  font-weight: 300;
  padding: 4px;
  margin: 0 0 18px;
  background-color: #e0e0e0;
}

.tablesorter-materialize .tablesorter-header {
  cursor: pointer;
}

.tablesorter-materialize .sorter-false {
  cursor: default;
}

.tablesorter-materialize .tablesorter-header-inner {
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  padding: 4px 18px 4px 4px;
}


/* sort icons */

.tablesorter-materialize thead .tablesorter-header {
  background-repeat: no-repeat;
  background-position: center right;
  padding: 4px 18px 4px 4px;
  white-space: normal;
  cursor: pointer;
}


/* black unsorted icon */

.tablesorter-materialize thead .tablesorter-headerUnSorted {
  /* <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 24 16"><path d="M15 8 1 8 8 0zM15 9 1 9 8 16z" fill="#222"/></svg> */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDE2Ij48cGF0aCBkPSJNMTUgOCAxIDggOCAwek0xNSA5IDEgOSA4IDE2eiIgZmlsbD0iIzIyMiIvPjwvc3ZnPg==);
}


/* black asc icon */

.tablesorter-materialize thead .tablesorter-headerAsc {
  /* <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 24 16"><path d="M15 11 1 11 8 3z" fill="#222"/></svg> */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDE2Ij48cGF0aCBkPSJNMTUgMTEgMSAxMSA4IDN6IiBmaWxsPSIjMjIyIi8+PC9zdmc+);
}


/* black desc icon */

.tablesorter-materialize thead .tablesorter-headerDesc {
  /* <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 24 16"><path d="M15 6 1 6 8 13z" fill="#222"/></svg> */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDE2Ij48cGF0aCBkPSJNMTUgNiAxIDYgOCAxM3oiIGZpbGw9IiMyMjIiLz48L3N2Zz4=);
}


/* white unsorted icon */

.tablesorter-materialize-dark thead .tablesorter-headerUnSorted {
  /* <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 24 16"><path d="M15 8 1 8 8 0zM15 9 1 9 8 16z" fill="#fff"/></svg> */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDE2Ij48cGF0aCBkPSJNMTUgOCAxIDggOCAwek0xNSA5IDEgOSA4IDE2eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
}


/* white asc icon */

.tablesorter-materialize-dark thead .tablesorter-headerAsc {
  /* <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 24 16"><path d="M15 11 1 11 8 3z" fill="#fff"/></svg> */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDE2Ij48cGF0aCBkPSJNMTUgMTEgMSAxMSA4IDN6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
}


/* white desc icon */

.tablesorter-materialize-dark thead .tablesorter-headerDesc {
  /* <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 24 16"><path d="M15 6 1 6 8 13z" fill="#fff"/></svg> */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDE2Ij48cGF0aCBkPSJNMTUgNiAxIDYgOCAxM3oiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
}


/* since materialize (table-striped) uses nth-child(), we just use this to add a zebra stripe color */

.tablesorter-materialize > tbody > tr.odd > td,
.tablesorter-materialize > tbody > tr.tablesorter-hasChildRow.odd:hover ~ tr.tablesorter-hasChildRow.odd ~ .tablesorter-childRow.odd > td {
  background-color: #eee;
}

.tablesorter-materialize.highlight>tbody>tr:hover {
  background-color: #e0e0e0;
}

.tablesorter-materialize > tbody > tr.even > td,
.tablesorter-materialize > tbody > tr.tablesorter-hasChildRow.even:hover ~ tr.tablesorter-hasChildRow.even ~ .tablesorter-childRow.even > td {
  background-color: #fff;
}


/* processing icon */

.tablesorter-materialize .tablesorter-processing {
  background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=');
  background-position: center center !important;
  background-repeat: no-repeat !important;
}


/* caption */

.caption {
  background-color: #fff;
}


/* filter widget */

.tablesorter-materialize .tablesorter-filter-row input.tablesorter-filter,
.tablesorter-materialize .tablesorter-filter-row select.tablesorter-filter {
  background-color: #fff;
  width: 98%;
  margin: 0;
  padding: 4px 6px;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: height 0.1s ease;
  -moz-transition: height 0.1s ease;
  -o-transition: height 0.1s ease;
  transition: height 0.1s ease;
}

.tablesorter-materialize .tablesorter-filter-row .tablesorter-filter.disabled {
  /*background-color: #eee;*/
  color: #555;
  cursor: not-allowed;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-sizing: border-box;
  transition: height 0.1s ease;
}


/*.tablesorter-materialize .tablesorter-filter-row {
  background-color: #efefef;
}
*/

.tablesorter-materialize .tablesorter-filter-row td {
  background-color: #e0e0e0;
  line-height: normal;
  text-align: center;
  padding: 4px 6px;
  vertical-align: middle;
  -webkit-transition: line-height 0.1s ease;
  -moz-transition: line-height 0.1s ease;
  -o-transition: line-height 0.1s ease;
  transition: line-height 0.1s ease;
}


/* hidden filter row */

.tablesorter-materialize .tablesorter-filter-row.hideme td {
  padding: 2px;
  /* change this to modify the thickness of the closed border row */
  margin: 0;
  line-height: 0;
}

.tablesorter-materialize .tablesorter-filter-row.hideme * {
  height: 1px;
  min-height: 0;
  border: 0;
  padding: 0;
  margin: 0;
  /* don't use visibility: hidden because it disables tabbing */
  opacity: 0;
  filter: alpha(opacity=0);
}


/* rows hidden by filtering (needed for child rows) */

.tablesorter .filtered {
  display: none;
}


/* ajax error row */

.tablesorter .tablesorter-errorRow td {
  text-align: center;
  cursor: pointer;
  background-color: #e6bf99;
}

.centered tr td:first-child,
.centered tr th:first-child {
  text-align: left;
}

.material-tooltip {
  max-width: 500px !important;
}

.tablesorter-scroller-bar-spacer {
  background: #eee;
}


/* add border to right side (LTR pages) of fixed column */

.tablesorter-scroller-fixed:after {
  content: '';
  border-right: 1px solid #444;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  /* set to zero for non-jquery ui themes; use "left" here for RTL pages */
  right: 0;
  /* match the margins set to the table to keep the border the same height as the table */
  margin: 10px 0 15px;
}


/* pager wrapper, div */

.tablesorter-pager {
  padding: 5px;
}


/* pager wrapper, in thead/tfoot */

td.tablesorter-pager {
  background-color: #e6eeee;
  margin: 0;
  /* needed for bootstrap .pager gets a 18px bottom margin */
}


/* pager navigation arrows */

.tablesorter-pager img {
  vertical-align: middle;
  margin-right: 2px;
  cursor: pointer;
}


/* pager output text */

.tablesorter-pager .pagedisplay {
  padding: 0 5px 0 5px;
  width: auto;
  white-space: nowrap;
  text-align: center;
}


/* pager element reset (needed for bootstrap) */

.tablesorter-pager select {
  margin: 0;
  padding: 0;
}


/*** css used when "updateArrows" option is true ***/


/* the pager itself gets a disabled class when the number of rows is less than the size */

.tablesorter-pager.disabled {
  display: none;
}


/* hide or fade out pager arrows when the first or last row is visible */

.tablesorter-pager .disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}

.table-footer {
  height: 56px;
  padding-left: 24px;
  padding-right: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  font-size: 12px !important;
  color: rgba(0, 0, 0, .54)
}

.table-footer label {
  font-size: 12px;
  color: rgba(0, 0, 0, .54);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center
}

.tables_length {
  margin-right: 20px;
  display: -webkit-flex;
  display: flex;
}

.table-footer select {
  background-color: transparent;
  width: auto;
  padding: 0;
  border: 0;
  border-radius: 0;
  height: auto;
  margin-left: 10px
}

.table-footer .table-info {
  margin-right: 20px
}

.table-footer .btn-flat {
  min-width: 36px;
  padding: 0 8px
}

tfoot {
  border-top: 1px solid #ddd;
}

table .chip {
  display: inline-flex;
  height: initial;
  margin-bottom: 9px;
  line-height: 20px;
  padding: 5px 12px;
}

.text-small {
  font-size: 0.75rem;
}

table .text-small {
  font-size: 0.65rem;
}

.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  min-height: 36px;
  background-color: #323232;
  background: #323232;
  color: #fff;
  padding: 10px 8px;
  border: 0px;
  border-radius: 0 0 50% 50%;
  border-radius: 2px;
  opacity: 0;
  font-size: 1rem;
  line-height: 120%;
  max-width: calc(100% - 4px);
  overflow: hidden;
  pointer-events:none;
}

.chips .input {
  width: initial;
}

/* Make the Input ICON blue  */
.input-field .prefix.active {
  color: #0277bd;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
    color: #0277bd;
}

label:after {
  -moz-transition-property: all !important;
  -o-transition-property: all !important;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  font-size: 0.8rem;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -webkit-transform: none;
  transform: none;
}

label:not(.active):after {
  -moz-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  -o-transform: translateY(-140%);
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}
