{% extends "layout.html" %}
{% block body %}

<h1> 
</h1>

<link rel="stylesheet"  type=text/css href="/static/css/theme.bootstrap.css">
<link rel="stylesheet"  type=text/css href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.min.css">
<style>
    svg path {
        -webkit-transition: fill 0.8s; /* Safari */
        transition: fill 0.8s;
    }
    .popover {
        text-align: center;
    }
    .node:hover {
        cursor:pointer;
    }
    div.copy {
        height: 200px;
        width: 300px;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
    div.hpo {
        height: 700px;
    }
   </style>

<script type="text/javascript">
{# window.variants = {{individual.variants|tojson|safe}}; #}
window.variants = [];
</script>
<h2>{{ gene_name }} <small>({{ gene_id }})</small></h2>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tab1" class="tab-li" role="tab" data-toggle="tab" id="hom-comp-tab">hom/compound-het</a></li> 
    <li><a href="#tab2" role="tab" class="tab-li" data-toggle="tab" id="het-tab">het</a></li>
</ul>
<div class="tab-content">
    <!--hom-comp-->
    <div id="tab1" role="tabpanel" class="tab-pane active">
        <div class='row'>
            <div class='col-md-5 col-md-offset-1'>
                <h3>Number of affected patients: <span id='dot-hom_comp-pNum'></span>,
                    Number of matching variants: <span id='dot-hom_comp-vNum'></span>
                </h3>
                <div class='row'>
                    <input id="hom_comp_exac_slider" class='slider' type="text" data-slider-min="0" data-slider-max="0.01" data-slider-step="0.0001" data-slider-value="0.01"/>
                    &nbsp;&nbsp;<span id="hom_comp_exacCurrentSliderValLabel">ExAC_AF cutoff: <span id="hom_comp_exacSliderVal">0.01</span></span>
                    <button class='btn btn-success' id='copy-hom-comp'>Convert to png</button>
                </div>
                <div class='row'>
                    <input id="hom_comp_cadd_slider" class='slider' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="0"/>
                    &nbsp;&nbsp;<span id="hom_comp_caddCurrentSliderValLabel">CADD Phred cutoff: <span id="hom_comp_caddSliderVal">0</span></span>
                </div>
            </div>
            <div class='copy col-md-5' id='copy-hom-comp-div'></div>
        </div>
        <div class='row'>
            <div class='hpo col-md-10 col-md-offset-1' id='dot-hom_comp'> </div>
        </div>
    </div>
    <!--het-->
    <div id='tab2' role="tabpanel" class='tab-pane'>
        <div class='row'>
            <div class='col-md-5 col-md-offset-1'>
                <h3>Number of affected patients: <span id='dot-het-pNum'></span>,
                    Number of matching variants: <span id='dot-het-vNum'></span>
                </h3>
                <div class='row'>
                    <input id="het_exac_slider" class='slider' type="text" data-slider-min="0" data-slider-max="0.001" data-slider-step="0.0001" data-slider-value="0.001"/>
                    &nbsp;&nbsp;<span id="het_exacCurrentSliderValLabel">ExAC_AF cutoff: <span id="het_exacSliderVal">0.001</span></span>
                    <button class='btn btn-success' id='copy-het'>Convert to png</button>
                </div>
                <div class='row'>
                    <input id="het_cadd_slider" class='slider' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="0"/>
                    &nbsp;&nbsp;<span id="het_caddCurrentSliderValLabel">CADD Phred cutoff: <span id="het_caddSliderVal">0</span></span>&nbsp;&nbsp;
                    <label>
                      <input id='remove-hom' type="checkbox"> Remove hom-comp
                    </label>
                </div>
            </div>
            <div class='copy col-md-5' id='copy-het-div'></div>
        </div>
        <div class='row'>
            <div class='col-md-10 col-md-offset-1 hpo' id='dot-het'>
            </div>
        </div><!--row-->
    </div>
</div>
<!--modal to show genes on omim page-->
<div class="modal fade" id="hpo-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <p id='hpo-modal-p'>
                        
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default refresh" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js"></script>
<script src="/static/bower_components/requirejs/require.js"></script>
<script src="/static/binomial.js"></script>
<script src="/static/hpo_dot.js"></script>
<script type="text/javascript">
// ExAC/CADD_slider
$(".slider").slider();

requirejs.config({
    //By default load any module IDs from js/lib
    baseUrl: 'js',
    //except, if the module ID starts with "app",
    //load it from the js/app directory. paths
    //config is relative to the baseUrl, and
    //never includes a ".js" extension since
    //the paths config could be for a directory.
    paths: {
        d3: '/static/bower_components/d3/d3',
       // "dot-checker": '/static/bower_components/graphviz-d3-renderer/dist/dot-checker',
        "layout-worker": '/static/bower_components/graph-viz-d3-js/dist/layout-worker',
        worker: '/static/bower_components/requirejs-web-workers/src/worker',
        renderer: '/static/bower_components/graph-viz-d3-js/dist/renderer'
    }
});
var hom = {{ dot_hom_comp|safe }};
var het = {{ dot_het|safe }};
var hpo_freq = {{ hpo_freq|safe }};
// draw hom first. can't draw two on the same page
if ('version' in hom){
    hom = hom.data;
}
if ('version' in het){
    het = het.data;
}
draw_hpo(hom, 'hom_comp', 0.01, 0, false);
$('.tab-li').on('click',function(){
    var tabID = $(this).attr('href');
    if (tabID == '#tab1'){
        $('svg').remove(); 
        draw_hpo(hom, 'hom_comp', 0.01, 0, false); 
    } else if (tabID == '#tab2'){
        $('svg').remove();
        draw_hpo(het, 'het', 0.001, 0, false);
    }
});
// update on slide
$.each(['#hom_comp','#het'],function(i,v){
    $.each(['_exac','_cadd'],function(j,val){
        $(v+val+"_slider").on("slide", function(slideEvt) {
            $(v+val+"SliderVal").text(slideEvt.value);
        });
        $(v+val+'_slider').on('slideStop', function(slideEvt){
            var exac = $(v+'_exac_slider').val();
            var cadd = $(v+'_cadd_slider').val();
            $('svg').remove();
            if (v=='#hom_comp'){
                draw_hpo(hom, 'hom_comp', exac, cadd, false);
            } else if (v=='#het'){
                draw_hpo(het, 'het', exac, cadd, false);
            }
        });
    });
});
// remove hom-comp
$('#remove-hom').on('click',function(){
    $('svg').remove();
    var exac = $('#het_exac_slider').val();
    var cadd = $('#het_cadd_slider').val();
    if($(this).is(':checked')){
        draw_hpo(het, 'het', exac, cadd, true);
    }else{
        draw_hpo(het, 'het', exac, cadd, false);
    }
});
function draw_hpo(my_data, mode, exac, cadd, exclude_hom){

    var returned = transform(my_data,hpo_freq,mode,exac,cadd,exclude_hom);
    var num_of_patients = returned[0];
    var num_of_vars = returned[1];
    var result = returned[2];
    console.log(returned);
    console.log(result);
    $('#dot-'+mode+'-pNum').text(num_of_patients);
    $('#dot-'+mode+'-vNum').text(num_of_vars);
    var dot = convert_to_dot(result,'filled');
    var callback = function (data){
        svg = d3.select('svg');
        all_g = svg.select('g').select('g').selectAll('g.node');
        all_g
            .on('mouseover', showTooltip)
            .on('mouseout', removeTooltip);
        $('.node').on('click',function(d) {
                // get the HPO id
            var this_node = $(this);
            var id = this_node.find('title').text();

            // populate modal
            $('#myModalLabel').html("<a href='/hpo/"+id+"'>"+id+', '+data[id].name+"</a>");
            var modal_content = '<ul>';
            // get patients in order
            var patients = $.map(data[id]['data'], function(v,k){return k;});
            $.each(patients, function(i,p){
                if (p.match("^obfuscated")){
                    modal_content = modal_content + '<li><span class="tip" title="';
                } else {
                    modal_content = modal_content + '<li><a href="/individual/'+p+'" class="tip" title="';
                }
                $.each(data[id]['data'][p].hpo, function(i,v){
                    modal_content = modal_content + v + '<br/>';
                });
                modal_content = modal_content + '">' + p;
                if (p.match("^obfuscated")){
                modal_content = modal_content + '</span><ul>';
                } else {
                    modal_content = modal_content + '</a><ul>';
                }
                $.each(data[id]['data'][p]['var'], function(k,v){
                    modal_content = modal_content + '<li><span class="tip" title="<b>ExAF:</b> ' + Fixed(v.exac,8,5) + '<br/><b>CADD_phred:</b> ' + v.cadd; //+ '"><a href="/variant/' + v.variant_id + '">'+ v.variant_id + '</a></span></li>';
                    if (v.variant_id.match("hidden")){
                        modal_content = modal_content + '">' + v.variant_id + '</span></li>';
                    } else {
                        modal_content = modal_content + '"><a href="/variant/' + v.variant_id + '">'+ v.variant_id + '</a></span></li>';

                    }
                });

                modal_content = modal_content + '</ul></li>'
            $('#hpo-modal-p').html( modal_content );
            $('#hpo-modal').modal('show');
            $('.tip').tooltip({html:true});
            //window.location.href = "https://uclex.cs.ucl.ac.uk/hpo/" + id;
            });
        });
    }
    require(["renderer"],
        function (renderer) {
            // initialize svg stage
            zoomFunc = renderer.init({element:"#dot-"+mode, extend:[0.1, 10]});
            // update stage with new dot source
            if (mode == 'hom_comp'){
                renderer.render({source:dot, raw:result, labelAttributer: myLabelAttributer, callBack:callback});
            // export image
                $('#copy-hom-comp').on('click', function(){
                    $('#copy-hom-comp-div').html(renderer.getImage({reset:true, zoomFunc:zoomFunc}));
                });  
            } else {
                renderer.render({source:dot, raw:result, labelAttributer: myLabelAttributer, callBack:callback});
                $('#copy-het').on('click', function(){
                    $('#copy-het-div').html(renderer.getImage({reset:true, zoomFunc:zoomFunc}));
                });  
            }
            
    });


    //Hide the tooltip when the mouse moves away
    function removeTooltip(d) {
        // look for the colour
        var colour = my_data[d.id]['fillcolor']
        //Fade out the circle to normal opacity
        d3.select(this).select('path')
            .attr('style', 'stroke:rgba(255,255,254,1);fill:'+colour);

        //Hide tooltip
        $('.popover').each(function() {
            $(this).remove();
        }); 

    }//function removeTooltip
    //Show the tooltip on the hovered over slice
    function showTooltip(d) {
        //Define and show the tooltip
        $(this).popover({
                placement: 'auto top',
                container: '#dot-'+mode,
                trigger: 'manual',
                position: 'fixed',
                html : true,
                title: function() { return d.id; },
                content: function() {
                    // looking for corresponding data in my_data
                    var thisData = my_data[d.id];
                    var content = '<b>Name:</b> '+thisData.name
                        +'<br><b>Exp_Freq:</b> '+thisData.expect_freq
                        +'<br><b>Obs_Freq:</b> '+thisData.observed_freq
                        +'<br><b>p_value:</b> '+Fixed(thisData.p_value,8,5)
                        +'<br><b>q_value:</b> '+Fixed(thisData.q_value,8,5);
                    return content; 
                }
        });
        $(this).popover('show');

        //highlight
        d3.select(this).select('path')
            .attr("style", 'stroke:rgba(255,255,254,1);fill:#58FAF4');

    }//function showTooltip
    // custom labelAttributer
    var myLabelAttributer = function() {
        this
            .attr("x", function (d) {
                    return d.x;
                    })
            .attr('y', function(d,i){
                    var pData = d3.select(this.parentNode).datum().labels;
                    return -d.y - 7*(i - pData.length/2 + 1);
                    })
            .text(function (d) {
                    return d.text;
                    });

        this.each(function(d) {
                var self = d3.select(this);
                d.style.map(function(e) {
                    switch (e.key) {
                    case "stroke":
                    return {key: "color", value: e.value};
                    case "font-size":
                    return {key: e.key, value: e.value + "px"};
                    default:
                    return e;
                    }
                    }).forEach(function(e) {
                        self.style(e.key, e.value);
                        });
                });
    };
}
</script>
<!-- <link rel="stylesheet"  type=text/css href="/static/css/theme.blue.css"> -->
<!-- tablesorter plugin -->
<!--script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script-->

<!-- not in use for now
<script type=text/javascript>
var tooltip = d3.select("body").append("div")
    .attr("class", "venntooltip");
var force_lof_het = {{ force_test|safe }};
var width = 1080,
    height = 1000;

var color = d3.scale.category20();

var force = d3.layout.force()
    .charge(-120)
    .linkDistance(function(d){
            return 100/d.value;
            })
    .size([width, height]);

var svg = d3.select("#force-lof-hom-comp").append("svg")
    .attr("width", width)
    .attr("height", height);

draw_force(force_lof_het);
function draw_force(graph) {
  force
      .nodes(graph.nodes)
      .links(graph.links)
      .start();

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.value); });

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("circle")
      .attr("class", "node")
      .attr("r", function(d) { return d.radius; })
      .style("fill", function(d) { return color(d.group); })
      .call(force.drag);

  node.append("title")
      .text(function(d) { return d.name; });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  });

};
// remove annoying titles
svg.selectAll('circle').select('title')
    .text('');
// add tip
svg.selectAll("circle")
    .on("mouseover", function(d, i) {
        // Display a tooltip with the current size
        var max_length=d.name.length + 5;
        text = d.hpo.map(function(obj){
            max_length = max_length > obj[1].length ? max_length: obj[1].length;
            return obj[1];
        });
        tooltip.style('height', function(){
                return (d.hpo.length+1) * 23 + 'px';
            })
            .style('width', max_length * 8 + 'px')
            .style('left', (d3.event.pageX) + 30 + 'px')
            .transition().duration(400).style("opacity", .9);
            tooltip.html('<b>' + d.name + '</b><br />' + text.join('<br /> '));

        // highlight the current path
        var selection = d3.select(this).transition("tooltip").duration(400);
        selection.select("circle")
            .style("stroke-width", 3)
            .style("fill-opacity", .4)
            .style("stroke-opacity", 1);
    })

    .on("mousemove", function() {
        tooltip.style("left", (d3.event.pageX) + 30 + "px")
               .style("top", (d3.event.pageY - 28) + "px");
    })

    .on("mouseout", function(d, i) {
        tooltip.transition().duration(400)
            .style('width', 0)
            .style("opacity", 0);
        var selection = d3.select(this).transition("tooltip").duration(400);
    });
</script>
-->


{% endblock %}
