                     {% for k in pubmedbatch.compound_hets.header %}
                            {% if k == 'HUGO' %}
                                <td>
                                {% if v['ref(pubmedID)'][0].known %}
                                    <span class='known'>[K]</span>
                                {% endif %}
                                {% if v['ref(pubmedID)'][0].disease %}
                                    <span class='pop pointer' 
                                        data-toggle='popover' 
                                        title='<a href="https://sph.uth.edu/Retnet/disease.htm" target="_blank">A RetNet gene</a>'                                   
                                        data-content='
                                            {% if v['ref(pubmedID)'][0].omim %}
                                                <p style="color:black;margin-bottom:0"><b>OMIM:</b>
                                                {% for o in v['ref(pubmedID)'][0].omim %}
                                                    <a href="http://omim.org/entry/{{ o }}" target="_blank">{{ o }}</a>
                                                {% endfor %}
                                            {% endif %}
                                            </p><hr/><p style="color:black;margin-top:0"><b>Disease:</b><br /> {{ v['ref(pubmedID)'][0].disease }}
                                        </p>'>
                                        <span class="retnet-mode"><b>[{{ v['ref(pubmedID)'][0].mode|capitalize() }}]</b></span>
                                    </span>
                                {% endif %}
                                <a title='<b>score: </b>{{ v['ref(pubmedID)'][1] }}' class='tip' href='/gene/{{ v[k] }}'>{{ v[k] }}</a></td>
                            {% elif k == 'HPO' %}
                                <td>
                                {% if v[k] %}
                                    {% for h in v[k] %}
                                        <a href='/hpo/{{ h.hpo_id }}' class='tip' title="{{ h.hpo_term }}" target='_blank'>{{ h.hpo_term | truncate(10)}}...</a><br />
                                    {% endfor %}
                                {% endif %}
                                </td>
                            {% elif k == 'consequence' %}
                                <td>
                                    {% set cons = v[k][0]|replace('&',' ')|safe %}
                                    <span class='pop' data-toggle='popover' title='{{ cons }}' data-content='{% if v[k][1] %}
                                        {% for key in v[k][1]|dictsort %}
                                           <b>{{ key[0] }}</b>: {{ key[1] }}<br />
                                        {% endfor %}
                                    {% endif %}
                                    '>{{ cons }}{{genes_pubmed[v.HUGO].key}}</span>
                                </td>
                            {% elif k == 'ref(pubmedID)' %}
                                <td class='pubmed-cell'>
                                    <span class='hidden' style='visibility:hidden;'>{{ v[k][1] }}</span> 
                                    {% if v[k] %}
                                        {% if v[k][0].results[0] == 'masked' %}
                                            masked
                                        {% else %}
                                            {% for r in v[k][0].results %}
                                                <span class='pop-modal pointer' data-toggle='popover'
                                                    title='<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ r.id }}" target="_blank">{{ r.title|replace("'",'&#39;')|replace('"','&#34;')|replace('<','&#60;')|replace('>','&#62;') }}</a>'
                                                    data-content='{{ r.abstract|replace("'",'&#39;')|replace('"','&#34;')|replace('<','&#60;')|replace('>','&#62;')|highlight([v.HUGO],'gene-emphasis')|highlight(pubmedbatch.homozygous_variants.search_term.split(' '),'OR-emphasis')|highlight([v.description],'gene-emphasis') }} '>
                                                    {{ r.id }}
                                                </span>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% elif k == 'description' %}
                                <td><span class='tip' title="{{ v[k] }}"> 
                                    {% if v[k]|length > 35 %}
                                        {{ v[k]|truncate(35)}}...
                                    {% else %}
                                        {{ v[k] }}
                                    {% endif %}
                                    </span>
                                </td>
                            {% elif k == 'OMIM' %}
                                <td><a href='http://omim.org/entry/{{ v[k] }}' target='_blank'>{{ v[k] }}</a></td>
                            {% elif k == 'allele_freq' %}
                                <td><span class='tip' title='{{ v[k][1] }}<br /><b>Missing cases: </b>{{ v[k][2] }}'>{{'%0.4f' % v[k][0]|float }}</span></td>
                            {% elif k == 'ExAC_freq' %}
                                <td>
                                    {% if v[k] %}
                                        <span class='tip' title='
                                            <b>hom_count: </b>{{ v[k].hom_count }}<br />
                                            {% for key in v[k]|dictsort %}
                                                {% if key[0] != 'allele_freq' and key[0] != 'hom_count' %}
                                                    <b>{{ key[0] }}: </b> {{'%0.4f' % key[1]|float }}<br />
                                                {% endif %}
                                            {% endfor %}
                                        '>{{'%0.4f' % v[k]['allele_freq']|float }}</span>
                                    {% else %}
                                        <b>Not in ExAC</b>
                                    {% endif %}
                                </td>
                            {% elif k == 'variant_id' %}
                                <td>
                                    <span style='word-break: break-all;' data-placement='left' class='pop pointer variant_id'>{{ v[k] }}</span><br />
                                    <a href='/sequence?variant_id={{ v[k] }}&symbol={{ v.HUGO }}&build=grch37'>Primer design</a>
                                </td>
                            {% elif k == 'p_change' %}
                                <td><span class='pop pointer p-change' data-placement="left" title='<b>Details</b>' data-content='
                                        {% for key in v[k]|dictsort %}
                                            {% if key[0] != 'pvar' %}
                                                <b>{{ key[0] }}: </b> {{ key[1] }}<br /> 
                                            {% endif %}
                                        {% endfor %}
                                        '>{{ v[k]['pvar'] }}</span>
                                </td>
                            {% else %}
                                <td>{{ v[k] }}</td>
                            {% endif %}
                     {% endfor %}
                 </tr>
