{% extends "material_app_layout.html" %} {% block body %}
<div class="container">
    <div class="card z-depth-3">
        <div class="card-content">
            <h3 class="truncate" style="font-weight: 300">{{ gene.gene_name }} - {{ gene.full_gene_name }}</h3>
            <table class="info_table">
                <tbody>
                    <tr>
                        <td>Full name</td>
                        <td>{{ gene.full_gene_name }}</td>
                    </tr>
                    <tr>
                        <td>pLI</td>
                        <td>{{ pli|round(2) }}</td>
                    </tr>
                    <tr>
                        <td>Number of variants</td>
                        <td><span id="number_of_variants"> {{ gene.variants|length }}</span></td>
                    </tr>
                    <td>Ensembl Browser</td>
                    <td><a href="http://grch37.ensembl.org/Homo_sapiens/Gene/Summary?g={{ gene.gene_id }}" target="_blank"><i class="material-icons" style="font-size:1rem;">open_in_new</i> {{ gene.gene_id }}</a></td>
                    <tr>
                        <td>UCSC Browser</td>
                        <td><a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position=chr{{ gene.chrom }}%3A{{ gene.start - 1 }}-{{ gene.stop - 1 }}" target="_blank"><i class="material-icons" style="font-size:1rem;">open_in_new</i> {{ gene.chrom }}:{{ gene.start - 1 }}-{{ gene.stop - 1 }}</a></td>
                    </tr>
                    <tr>
                        <td>External Services</td>
                        <td>
                            <a href="http://exac.broadinstitute.org/gene/{{gene.gene_id}}" target="_blank"><i class="material-icons" style="font-size:1rem;">open_in_new</i> ExAC Browser</a> &#149;
                            <a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ gene.gene_name }}" target="_blank"><i class="material-icons" style="font-size:1rem;">open_in_new</i> GeneCards</a> &#149; {% if gene.omim_accession %}
                            <a href="http://omim.org/entry/{{ gene.omim_accession }}" target="_blank"><i class="material-icons" style="font-size:1rem;">open_in_new</i> OMIM</a> {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Other</td>
                        <td>
                            <a href="http://en.wikipedia.org/{{ gene.gene_name }}"><i class="material-icons" style="font-size:1rem;">open_in_new</i> Wikipedia</a> &#149;
                            <a href="http://www.ncbi.nlm.nih.gov/pubmed?term={{ gene.gene_name }}"><i class="material-icons" style="font-size:1rem;">open_in_new</i> Pubmed Search</a> &#149;
                            <a href="http://www.wikigenes.org/?search={{ gene.gene_name }}"><i class="material-icons" style="font-size:1rem;">open_in_new</i> Wikigenes</a> &#149;
                            <a href="http://www.gtexportal.org/home/gene/{{ gene.gene_name }}"><i class="material-icons" style="font-size:1rem;">open_in_new</i> GTEx (Expression)</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Related HPO OMIMs</td>
                        <td>
                            <div id="five_hpo_tags">
                                {% for hpo in hpo_terms_subset %}
                                    <a class="chip blue-text text-darken-1" href="/hpo/{{ hpo }}"> {{ hpo_terms[hpo]['name'][0] }}</a>
                                {% endfor %} 
                                <a href="#!" id="show_more_hpo_tags" style="font-size: 14px;">Show All Related OMIMs</a>
                            </div>
                            <div id="all_hpo_tags" style="display: none;">
                                {% for hpo in hpo_terms %}
                                    <a class="chip blue-text text-darken-1" href="/hpo/{{ hpo }}"> {{ hpo_terms[hpo]['name'][0] }}</a>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-tabs" style="padding-top: 2rem;">
            <ul class="tabs tabs-fixed-width ">
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#phenogenon_tab">Phenogenon Analysis</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#simreg_tab">Simreg Analysis</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#variants_tab">Variant Table</a></li>
                <div class="indicator light-blue darken-2" style="z-index:1"></div>
            </ul>
        </div>
        <div class="card-content grey lighten-5">
            <!-- tab 1 - #phenogenon_tab -->
            {% include "gene-page-tabs/gene-tab-phenogenon-tab.html" %}
            <!-- tab 2 - #simreg_tab -->
            {% include "gene-page-tabs/gene-tab-simreg-tab.html" %}
            <!-- tab 3 - #variants_tab -->
            {% include "gene-page-tabs/gene-tab-variants-tab.html" %}
        </div>
    </div>
</div>
{% endblock %}
