{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet"  type=text/css href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.min.css">
<link rel="stylesheet"  type=text/css href="/static/css/theme.bootstrap.css">
<style>
    svg path {
        -webkit-transition: fill 0.8s; /* Safari */
        transition: fill 0.8s;
    }
    .popover {
        text-align: center;
    }
    .node:hover {
        cursor:pointer;
    }
    div.copy {
        height: 200px;
        width: 300px;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
    div.hpo {
        height: 700px;
    }
    h3.grey {
        color: grey;
    }
    div.panel-like {
        border: 1px grey solid;
        border-radius: 20px;
    }
    span.pointer {
        color: #3366BB;
    }
    span.pointer:hover {
        cursor: pointer;
    }
    tr.highlight {
       background-color: #ffa !important;
    }
    a.bad,span.bad {
        color:orange;
    }
    a.warning,span.warning {
        color: #6E6E6E;
    }
    span.candidate-tag,span.solved-tag {
        color:white;
        display:inline-block;
        font-size:70%;
        margin-left:5px;
        margin-right:5px;
        margin-bottom:3px;
        vertical-align:top;
        padding-right:2px;
        padding-top:1px;
        padding-left:2px;
        border-radius:3px;
    }
    span.candidate-tag {
        background-color:blue;
    }
    span.solved-tag {
        background-color:green;
    }
    span.candidate-gene {
        background-color:#999;
        color:white;
        display:inline-block;
        padding-right:2px;
        padding-top:1px;
        padding-left:2px;
        border-radius:3px;
    }
    span.vqsr {
        background-color:orange;
        display:inline-block;
        font-size:70%;
        margin-left:5px;
        padding-right:2px;
        padding-left:2px;
        color:white;
        border-radius:3px;
    }
    a.modal-patient {
        color:#3c3c3d;
    }
    a.modal-patient.candidate {
        color:steelblue;
    }
    a.modal-patient.solved {
        color:green;
    }
   </style>

<script type="text/javascript">
{# window.variants = {{individual.variants|tojson|safe}}; #}
window.variants = [];
</script>


<div class="row">
    <!-- <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-0"> -->
        <dl class="dl-horizontal">
            <dt>{{ gene.gene_name }}</dt>
            <dd>{{ gene.full_gene_name }}</dd>
            <dt> pLI </dt>
            <dd> {{pli|round(2)}} </dd>
            <dt>Number of variants</dt>
            <dd><span id="number_of_variants"> {{ gene.variants|length }}</span></dd>
{#                    <dt>Number of LoF variants</dt>#}
{#                    <dd><span id="number_of_lof_variants"></span> (Including filtered: {{ lof_variants_in_gene|length }})</dd>#}
{#                    <dt>LoF rate</dt>#}
{#                    <dd>{{ '%0.4g' % composite_lof_frequency }}</dd>#}

            <dt>Ensembl Browser</dt>
            <dd class="hidden-xs">
                <a href="http://grch37.ensembl.org/Homo_sapiens/Gene/Summary?g={{ gene.gene_id }}" target="_blank">
                    {{gene.gene_id}}
                    <i class="fa fa-external-link"></i>
                </a>
            </dd>
            <dt class="hidden-xs">UCSC Browser</dt>
            <dd class="hidden-xs">
                <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position=chr{{ gene.chrom }}%3A{{ gene.start - 1 }}-{{ gene.stop - 1 }}" target="_blank">
                    {{ gene.chrom }}:{{ gene.start - 1 }}-{{ gene.stop - 1 }}
                    <i class="fa fa-external-link"></i>
                </a>
            </dd>
            <dt class="hidden-xs">ExAC Browser</dt>
            <dd class="hidden-xs">
            <a href="http://exac.broadinstitute.org/gene/{{gene.gene_id}}" target="_blank">
                    {{gene.gene_name}}
                    <i class="fa fa-external-link"></i>
                </a>
            </dd>
            <dt class="hidden-xs">GeneCards</dt>
            <dd class="hidden-xs">
                <a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ gene.gene_name }}" target="_blank">
                    {{ gene.gene_name }}
                    <i class="fa fa-external-link"></i>
                </a>
            </dd>
            {% if gene.omim_accession %}
                <dt>OMIM</dt>
                <dd>
                    <a href="http://omim.org/entry/{{ gene.omim_accession }}" target="_blank">
                        {{ gene.gene_name }}
                        <i class="fa fa-external-link"></i>
                    </a>
                </dd>
            {% endif %}
            <dt>Other</dt>
            <dd>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="external_ref_dropdown" data-toggle="dropdown">
                        External References
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="external_ref_dropdown">
                        <li role="presentation" class="visible-xs-block">
                            <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position=chr{{ gene.chrom }}%3A{{ gene.start - 1 }}-{{ gene.stop - 1 }}" target="_blank">
                                UCSC Browser
                                <i class="fa fa-external-link"></i>
                            </a>
                        </li>
                        <li role="presentation" class="visible-xs-block">
                            <a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ gene.gene_name }}" target="_blank">
                                GeneCards
                                <i class="fa fa-external-link"></i>
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="http://en.wikipedia.org/{{ gene.gene_name }}" target="_blank">
                                Wikipedia <i class="fa fa-external-link"></i>
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="http://www.ncbi.nlm.nih.gov/pubmed?term={{ gene.gene_name }}" target="_blank">
                                PubMed Search <i class="fa fa-external-link"></i>
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="http://www.wikigenes.org/?search={{ gene.gene_name }}" target="_blank">
                                Wikigenes <i class="fa fa-external-link"></i>
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="http://www.gtexportal.org/home/gene/{{ gene.gene_name }}" target="_blank">
                                GTEx (Expression) <i class="fa fa-external-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </dd>
        </dl>
        <!-- </div> -->
</div>

<div class='row'>
    <div class="col-md-5 col-md-offset-1">
        {% if constraint %}
            <table class="table">
                <thead>
                    <tr>
                        <th style="padding-top: 4px;">Constraint <br/>from ExAC</th>
                        <th style="padding-top: 4px; width=50%;">Expected <br/>no. variants</th>
                        <th style="padding-top: 4px;" class="tooltip-table-header" data-tooltip="Note that these numbers only consider &#xa; rare (AF < 0.001) variation &#xa; Not all variants in the table &#xa; below may be included">Observed <br/>no. variants</th>
                        <th style="padding-top: 4px;" class="tooltip-table-header" data-tooltip="Constraint Metric for each &#xa; category (see FAQ) &#xa; synonymous: Z score &#xa; missense: Z score&#xa; LoF: pLI">Constraint<br/>Metric</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Synonymous</td>
                        <td>{{ "%0.1f" % constraint.exp_syn }}</td>
                        <td>{{ "%0.0f" % constraint.n_syn }}</td>
                        <td>z = {% if constraint.syn_z > 3.71 %}
                            <span class="label label-danger" data-tooltip="Synonymous constraint may indicate error mode (see FAQ)">{{ "%0.2f" % constraint.syn_z }}</span>
                            {% else %}
                                {{ "%0.2f" % constraint.syn_z }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Missense</td>
                        <td>{{ "%0.1f" % constraint.exp_mis }}</td>
                        <td>{{ "%0.0f" % constraint.n_mis }}</td>
                        <td>z = {% if constraint.mis_z > 3.09 %}
                            <span class="label label-warning">{{ "%0.2f" % constraint.mis_z }}</span>
                            {% else %}
                                {{ "%0.2f" % constraint.mis_z }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="tooltip-table-header" data-tooltip="Stop-gained and essential splice site">LoF</td>
                        <td>{{ "%0.1f" % constraint.exp_lof }}</td>
                        <td>{{ "%0.0f" % constraint.n_lof }}</td>
                        <td class="tooltip-table-header" data-tooltip="Probability of LoF intolerance (see FAQ)">{% if constraint.pLI > 0.9 %}
                                <span class="label label-warning">pLI</span>
                            {% else %}
                                pLI
                            {% endif %} =
                            {{ "%0.2f" % constraint.pLI }}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
</div><!--end of row-->



<label class='tip' title='individuals relatedness is calculated using KINSHIP. Only applies to Phenogenon'>
      <input class='remove' id='remove-related' type="checkbox" checked> Remove relatedness
</label>&nbsp;
<label class='remove' class='tip' title='Remove variants with dubious filter quality. Only applies to Phenogenon'>
        <input id='remove-bad-variants' type="checkbox" checked> Remove dubious variants
</label>&nbsp;

<ul class="nav nav-tabs" id='data-nav' role="tablist">
    <li class="active"> <a href="#gene-tab_r" class="tab-li" role="tab" data-toggle="tab" id="r-tab">Recessive</a> </li>
    <li><a href="#gene-tab_d" role="tab" class="tab-li" data-toggle="tab" id="d-tab">Dominant</a></li>
    <li><a href="#gene-tab_simreg_tables" role="tab" class="tab-li" data-toggle="tab" id="simreg-table-tab">Simreg Tables</a></li>
    <li> <a href="#gene-tab_variant_table" role="tab" class="tab-li" data-toggle="tab">Variant Table</a></li>
    {# <li><a href="#gene-tab_transcript_display" role="tab" class="tab-li" data-toggle="tab">transcript display</a></li> #}
    <li><a href="#gene-tab_hpo" role="tab" class="tab-li" data-toggle="tab">OMIM HPO terms</a></li>
</ul>

<div class="tab-content">
<!-- tab 1 -->
{% include "gene-page-tabs/gene-tab_r.html" %}
<!-- tab 2 -->
{% include "gene-page-tabs/gene-tab_d.html" %}
<!-- tab 3 -->
{% include "gene-page-tabs/gene-tab_simreg_tables.html" %}
<!-- tab 4 -->
{% include "gene-page-tabs/gene-tab_variant_table.html" %}
<!-- tab 5 -->
{# {% include "gene-page-tabs/gene-tab_transcript_display.html" %} #}
<!-- tab 6 -->
{% include "gene-page-tabs/gene-tab_hpo.html" %}
</div>
<!--modal to show genes on omim page-->
<div class="modal fade" id="hpo-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <p id='hpo-modal-p'> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default refresh" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.widgets.js"></script>
<script src="/static/bower_components/requirejs/require.js"></script>
<script src="/static/js/binomial.js"></script>
<script src="/static/js/fisher.js"></script>
<script src="/static/js/hpo.js"></script>
<script type="text/javascript">

var session_user= "{{session['user']}}" ;

// tooltip
$('.tip').tooltip({html:true});
// ExAC/CADD_slider
$(".slider").slider();

requirejs.config({
    //By default load any module IDs from js/lib
    baseUrl: 'js',
    //except, if the module ID starts with "app",
    //load it from the js/app directory. paths
    //config is relative to the baseUrl, and
    //never includes a ".js" extension since
    //the paths config could be for a directory.
    paths: {
        d3: '/static/bower_components/d3/d3',
       // "dot-checker": '/static/bower_components/graphviz-d3-renderer/dist/dot-checker',
        "layout-worker": '/static/bower_components/graph-viz-d3-js/dist/layout-worker',
        worker: '/static/bower_components/requirejs-web-workers/src/worker',
        renderer: '/static/bower_components/graph-viz-d3-js/dist/renderer'
    }
});
var unrelated_flag = false,
    patients_status = {{ patients_status|safe }},
    options = {
        mode: 'r', // r for recessive, d for dominant
        exclude_hom: false,
        unrelated_flag: true,
        hpo_terms: {{ hpo_terms_json|safe }},
        remove_bad_vars: true,
        cutoffs: {
            exac: 5, // for recessive hom count
            cadd: 15,
        },
    },
    phenogenon = {{ phenogenon|safe }};
// draw recessive first. can't draw two on the same page
draw_hpo(phenogenon, options);
$('#data-nav').on('click','.tab-li',function(){
    var tabID = $(this).attr('href');
    var remove_bad_vars = false;
    if ($('#remove-bad-variants').is(':checked')){
        remove_bad_vars = true;
    }
    $('svg').remove();
    if (tabID == '#gene-tab_r'){
        // get exac and cadd values
        var exac = $('#r_exac_graph_slider').val();
        var cadd = $('#r_cadd_graph_slider').val();
        options.mode = 'r';
        draw_hpo(phenogenon, options); 
    } else if (tabID == '#gene-tab_d'){
        // get remove_hom
        options.remove_hom = false;
        if ($('#graph-remove-hom').is(':checked')){
            options.remove_hom = true;
        }
        // get exac and cadd values
        options.cutoffs.exac = $('#d_exac_graph_slider').val();
        options.cutoffs.cadd = $('#d_cadd_graph_slider').val();
        options.mode = 'd';
        draw_hpo(phenogenon, options);
    }
});
// draw table
var columns = ['id','phi','p_value','pat_h','pat_gh'];
$.each(['r','d'],function(i,v){
    if (v == 'r'){
        options.mode = 'r';
        options.exac = 5;
    }else{
        options.mode = 'd';
        options.exac = 0.0001;
    }
    getTable(phenogenon,options);
});
options.mode = 'r';
// update on slide on graph
$('div.tab-content').on('slide','input.slider',function(slideEvt){
    var me = $(this);
    var ID = me.attr('id').slice(0,-7);
    $('#'+ID+'SliderVal').text(slideEvt.value);
});
$('div.tab-content').on('slideStop','input.slider',function(slideEvt){
    var me = $(this);
    var ID = me.attr('id').slice(0,-7);
    $('#'+ID+'SliderVal').text(slideEvt.value);
    var [mode,metric,section] = ID.split('_');
    options.cutoffs.exac = $('#'+mode+'_exac_'+section+'_slider').val();
    options.cutoffs.cadd = $('#'+mode+'_cadd_'+section+'_slider').val();
    options.remove_bad_vars = false;
    // get remove values
    if ($('#remove-bad-variants').is(':checked')){
        options.remove_bad_vars = true;
    }
    options.remove_hom = false;
    if ($('#graph-remove-hom').is(':checked')){
        options.remove_hom = true;
    }
    // Redraw graph & table
    $('svg').remove();
    if (mode=='r'){
        options.mode = 'r';
    } else if (mode=='d'){
        options.mode = 'd';
    }
    draw_hpo(phenogenon, options);
    getTable(phenogenon, options);
});
$('#r_exac_table_slider').on('change', function(){
  $('#r_exac_graph_slider').val($('#r_exac_table_slider').val())
})
$('#r_cadd_table_slider').on('change', function(){
  $('#r_cadd_graph_slider').val($('#r_cadd_table_slider').val())
})
$('#d_exac_table_slider').on('change', function(){
  $('#d_exac_graph_slider').val($('#d_exac_table_slider').val())
})
$('#d_cadd_table_slider').on('change', function(){
 $('#d_cadd_graph_slider').val($('#d_cadd_table_slider').val())
})
$('#table-remove-hom').on('change', function(){
  $('#graph-remove-hom').val($('#table-remove-hom').val())
})

// remove r or dubious variants
$('body').on('click','.remove',function(){
    $('svg').remove();
    options.remove_bad_vars = false;
    if ($('#remove-bad-variants').is(':checked')){
        options.remove_bad_vars = true;
    }
    options.remove_hom = false;
    // which li is active?
    var tab = $('#data-nav').children('.active').children('a').attr('id');
    if (tab == 'r-tab'){
        options.cutoffs.exac = $('#r_exac_graph_slider').val();
        options.cutoffs.cadd = $('#r_cadd_graph_slider').val();
        options.mode = 'r';
        draw_hpo(phenogenon, options);
    } else if (tab == 'd-tab'){
        if ($('#graph-remove-hom').is(':checked')){
            options.remove_hom = true;
        }
        options.cutoffs.exac = $('#d_exac_graph_slider').val();
        options.cutoffs.cadd = $('#d_cadd_graph_slider').val();
        options.mode = 'd';
        draw_hpo(phenogenon, options);
    } else if (tab == 'table-tab'){
        if ($('#table-remove-hom').is(':checked')){
            options.remove_hom = true;
        }
        options.mode = 'r';
        options.cutoffs.exac = $('#r_exac_table_slider').val();
        options.cutoffs.cadd = $('#r_cadd_table_slider').val();
        getTable(phenogenon, options);
        options.mode = 'd';
        options.cutoffs.exac = $('#d_exac_table_slider').val();
        options.cutoffs.cadd = $('#d_cadd_table_slider').val();
        getTable(phenogenon, options);
    }
});

function mark_arm(hpo, mydata, seen, bad_hpos){
    seen[hpo] = 1;
    delete bad_hpos[hpo];
    if (hpo != 'HP:0000001'){
        $.each(mydata[hpo].is_a,function(i,a){
            mark_arm(a,mydata,seen, bad_hpos);
        });
    }
}

function clean_hpo_arm(hpo, mydata, p_cutoff,seen,bad_hpos){
    // start from the bottomest, delete nodes until hits good nodes with p_val <= p_cutoff
    if (hpo != 'HP:0000001' && hpo in mydata && mydata[hpo].p_value > p_cutoff && !(hpo in seen)){
        var ancs = mydata[hpo].is_a;
        bad_hpos[hpo] = 1;
        $.each(ancs,function(i,a){
            clean_hpo_arm(a,mydata,p_cutoff,seen,bad_hpos);
        });
    } else {
        mark_arm(hpo,mydata,seen, bad_hpos);
        return false;
    }
}

function simplify_graph(graph, id, trim) {
    $.each(graph, function(i,x) {
            if (x.is_a.includes(id)) {
            if (x.observed_freq==graph[id].observed_freq && id != 'HP:0000001') {
                    graph[x.id].is_a=graph[x.id].is_a.concat(graph[id].is_a.slice());
                    graph[x.id].is_a=$.unique(graph[x.id].is_a.sort());
                    trim.push(id);
                }
                simplify_graph(graph, x.id, trim)
            }
    });
}

function draw_hpo(my_data, options){
    if ($.isEmptyObject(my_data)){
        return true;
    }
    if ($('#remove-related').is(':checked')){
        options.unrelated_flag = true;
    }

    var returned = transform(my_data,options);
    var num_of_patients = returned.pat_g;
    var num_of_vars = returned.num_of_vars;
    var result = returned.data;
    // clean node if it has the same p_val to its subclass
    // assign a p_cutoff to hide insignificant nodes
    var p_cutoff = 0.05;
    var seen = {};
    var bad_hpos = {};
    if (p_cutoff){
        // sort hpo by pat_gh
        var hpos = Object.keys(result).sort(function(a,b){
            return ((result[a].pat_gh < result[b].pat_gh) ? -1 : ((result[a].pat_gh > result[b].pat_gh) ? 1 : 0));
        });
        //console.log(hpos);
        // start looking from the smallest pat_gh (bottomest)
        $.each(hpos,function(i,h){
            // skip if h was already deleted
            if (!(result.hasOwnProperty(h)) || h == 'HP:0000001' || seen.hasOwnProperty(h)){ return true;}
            clean_hpo_arm(h,result,p_cutoff,seen,bad_hpos);
        });
    }
    if ($('#simplify-graph').is(':checked')){
        var trim=[];
        simplify_graph(result,"HP:0000001",trim);
        $.each(result,function(k,v){
                //console.log(v.is_a)
                v.is_a=v.is_a.filter(function(x) { return (!trim.includes(x)) });
                //console.log(v.is_a)
        });
        $.each(trim,function(k,v){
                delete result[v];
        });
        trim=[];
    }
    $('#dot-'+options.mode+'-pNum').text(num_of_patients);
    $('#dot-'+options.mode+'-vNum').text(num_of_vars);
    var dot = convert_to_dot(result,'filled');
    var callback = function (data){
        var patients = my_data.patients,
            variants = my_data.variants,
            svg = d3.select('svg'),
            all_g = svg.select('g').select('g').selectAll('g.node');
        all_g
            .on('mouseover', showTooltip)
            .on('mouseout', removeTooltip);
        $('.node').on('click',function(d) {
                // get the HPO id
            var this_node = $(this);
            var id = this_node.find('title').text();
            // populate modal
            console.log(id);
            $('#myModalLabel').html("<a href='/hpo/"+id+"'>"+id+', '+data[id].name+"</a>");
            var modal_content = '<ul>';
            // get patients in order

            var patients = $.map(data[id]['data'], function(v,k){return k;});
            $.each(patients, function(i,p){
                if (p.match("^hidden")){
                    modal_content += '<li><span class="tip" title="';
                } else {
                    modal_content += '<li><a data-placement="left" class="tip modal-patient" id='+p+' href="/individual/'+p+'" target="_blank"  title="';
                }
                $.each(data[id]['data'][p].hpo, function(i,v){
                    modal_content += v + "<br/>";
                });
                modal_content += '">'+p;
                if (p.match("^hidden")){
                    modal_content +=  '</span><ul>';
                } else {
                    modal_content += '</a><ul>';
                }
                $.each(data[id]['data'][p]['var'], function(k,v){
                    var cl = '',
                        vqsr = '';
                    if ('filter' in v && v.filter != 'PASS'){
                        cl = 'bad';
                        vqsr = '<span class="vqsr">vqsr</span>';
                    } else if (!('filter' in v)){
                        cl = 'warning';
                    }
                    modal_content += '<li><span class="tip" title="<b>ExAF:</b> ' + Fixed(v.exac,8,5) + '<br/><b>CADD_phred:</b> ' + v.cadd; 
                    if (v.variant_id.match("hidden")){
                        modal_content += '"><span class="'+cl+'">' + v.variant_id + '</span>';
                    } else {
                        modal_content += '"><a href="/variant/' + v.variant_id + '" class="' + cl +'">'+ v.variant_id + '</a>';

                    }
                    modal_content += vqsr+'</span></li>';
                });

                modal_content += '</ul></li>';
            $('#hpo-modal-p').html( modal_content );
            // add solved status
            $('.modal-patient').each(function(){
                var this_e = $(this);
                var p_id = this_e.attr('id');
                var thisC = null;
                var genes = [];
                if (p_id in patients_status){
                    if (patients_status[p_id].genes != undefined){
                        thisC = 'candidate';
                        genes = $.map(patients_status[p_id].genes,function(v,i){
                            return v['gene'];
                        });
                    }
                    if (patients_status[p_id].solved.status == 'solved'){
                        thisC = 'solved';
                    }
                }else{
                    console.log('Patient status error: '+p_id+' cannot be found in the database!');
                }
                if (thisC){
                    this_e.toggleClass(thisC);
                    var content = '<span class="'+thisC+'-tag tip" title="'+thisC+'">'+thisC.charAt(0)+'</span>';
                    $.each(genes,function(i,v){
                        content += '<span class="candidate-gene pointer">'+v+'</span>';
                    });
                    $(content).insertAfter(this_e);
                }
                $('#hpo-modal-p').on('click','.candidate-gene',function(){
                    var gene_id = $(this).text();
                    window.location.href='/gene/'+gene_id;
                });
                this_e.next().tooltip({html:true});
            });
            $('#hpo-modal').modal('show');
            $('.tip').tooltip({html:true});
            });
        });
    }
    require(["renderer"],
        function (renderer) {
            // initialize svg stage
            zoomFunc = renderer.init({element:"#dot-"+options.mode, extend:[0.1, 10]});
            // update stage with new dot source
            if (options.mode == 'r'){
                renderer.render({source:dot, raw:result, labelAttributer: myLabelAttributer, callBack:callback});
            // export image
                $('#copy-r').on('click', function(){
                    $('#copy-r-div').html(renderer.getImage({reset:true, zoomFunc:zoomFunc}));
                });  
            } else {
                renderer.render({source:dot, raw:result, labelAttributer: myLabelAttributer, callBack:callback});
                $('#copy-d').on('click', function(){
                    $('#copy-d-div').html(renderer.getImage({reset:true, zoomFunc:zoomFunc}));
                });  
            }
            // highlight matching hpo terms
            $('.node').each(function(d){
                console.log(d);
            });
    });


    //Hide the tooltip when the mouse moves away
    function removeTooltip(d) {
        // look for the colour
        var colour = result[d.id]['fillcolor']
        //Fade out the circle to normal opacity
        d3.select(this).select('path')
            .attr('style', 'stroke:rgba(255,255,254,1);fill:'+colour);

        //Hide tooltip
        $('.popover').each(function() {
            $(this).remove();
        }); 

    }//function removeTooltip
    //Show the tooltip on the hovered over slice
    function showTooltip(d) {
        //Define and show the tooltip
        $(this).popover({
                placement: 'auto',
                container: '#dot-'+options.mode,
                trigger: 'hover',
                position: 'fixed',
                html : true,
                title: function() { return d.id; },
                content: function() {
                    // looking for corresponding data in result
                    var thisData = result[d.id];
                    var content = '<b>Name:</b> '+thisData.name
                        +'<br><b>Exp_Freq:</b> '+thisData.expected_freq
                        +'<br><b>Obs_Freq:</b> '+thisData.observed_freq
                        +'<br><b>p_value:</b> '+Fixed(thisData.p_value,8,5)
                        +'<br><b>q_value:</b> '+Fixed(thisData.q_value,8,5)
                        +'<br><b>phi:</b>' + Fixed(thisData.phi,8,5);
                    return content; 
                }
        });
        $(this).popover('show');
        $('#dot-'+options.mode).find('.popover').each(function () {
            console.log($(this).offset());
            var offset = $(this).offset();
            $(this).offset({
                left:offset.left,
                top:offset.top + $('body').scrollTop()
            });
        });

        //highlight
        d3.select(this).select('path')
            .attr("style", 'stroke:rgba(255,255,254,1);fill:#58FAF4');

    }//function showTooltip
    // custom labelAttributer
    var myLabelAttributer = function() {
        this
            .attr("x", function (d) {
                    return d.x;
                    })
            .attr('y', function(d,i){
                    var pData = d3.select(this.parentNode).datum().labels;
                    return -d.y - 7*(i - pData.length/2 + 1);
                    })
            .text(function (d) {
                    return d.text;
                    });

        this.each(function(d) {
                var self = d3.select(this);
                d.style.map(function(e) {
                    switch (e.key) {
                    case "stroke":
                    return {key: "color", value: e.value};
                    case "font-size":
                    return {key: e.key, value: e.value + "px"};
                    default:
                    return e;
                    }
                    }).forEach(function(e) {
                        self.style(e.key, e.value);
                        });
                });
    };
}

// table functions
function getTable(input, options){
    // get table div id
    var tableDiv_id = '#gene-hpo-'+options.mode+'-tableDiv';
    // empty the div
    $(tableDiv_id).empty();
    // draw table header
    var table_header = '<table id="gene-hpo-'+options.mode+'-table" class="table-sorter"><thead><tr><th>HPO</th><th title="correlation score">Phi</th> <th title="fisher test">p value</th> <th title="number of patients having the HPO term">Pat_h</th> <th title="number of patients having both the HPO term and the genotype">Pat_gh</th> </tr> </thead> <tbody id="'+options.mode+'_table_body"> </tbody>';

    $(tableDiv_id).append(table_header);
    if ($.isEmptyObject(input)){
        return true;
    }
    options.unrelated_flag = false;
    if ($('#remove-related').is(':checked')){
        options.unrelated_flag = true;
    }
    // draw the d3 table
    returned = transform(input,options);
    var data = returned.data;
    data = dictToArray(data,'p_value');
    var table = d3.select('#'+options.mode+'_table_body');
    var tr = table.selectAll('tr')
        .data(data)
        .enter()
        .append('tr')
        .attr('class',function(d){
            if (options.hpo_terms.indexOf(d.id) != -1){
                //highlight
                return 'highlight';
            }
            return '';
        });
    var td = tr.selectAll('td')
        .data(function(row){
            return columns.map(function(column) {
                if (column == 'id'){
                    return {column: column, value: row.name, id: row[column]};
                } else {
                    return {column: column, value: row[column]};
                }
            });
        })
        .enter()
        .append('td')
        .html(function(d){
            if (d.column == 'id'){
                return "<a href='/hpo/" + d.id + "'>" + d.value + "</a>";
            }else{
                return d.value;
            }
        });
    $('#'+options.mode+'_small').text('(Pat_a:'+returned.pat_a+', Pat_g:'+returned.pat_g+')');
    drawTable('gene-hpo-'+options.mode+'-table');
}

// call the tablesorter plugin
function drawTable(id){
    $('#'+id).tablesorter({
        theme : 'bootstrap',
        headerTemplate : '{content}{icon}',
        // hidden filter input/selects will resize the columns, so try to minimize the change
        widthFixed : true,
        // initialize zebra striping and filter widgets
        widgets : ["zebra", "filter", "stickyHeaders", "uitheme"],
        widgetOptions : {
            zebra : ["even", "odd"],
            // Use the $.tablesorter.storage utility to save the most recent filters
            //filter_saveFilters : true,
            // jQuery selector string of an element used to reset the filters
            filter_reset : 'button.reset',
            filter_columnFilters : true,
            textSorter: {
                 3: $.tablesorter.sortNatural,
            }
        }
    });
}
// transfrom dict to array in order to be drawn by drawTable. Sort by p value by default
function dictToArray(dict,sortedBy){
    result = [];
    $.each(dict, function(k,v){
        // format phi and p_value
        v.phi = formatFloat(v.phi,4);
        v.p_value = formatFloat(v.p_value,4);
        result.push(v);
    });
    //sort
    result.sort(function(a,b){return ((a[sortedBy] < b[sortedBy]) ? -1 : ((a[sortedBy] > b[sortedBy]) ? 1 : 0));});
    return result;
}

// format float
function formatFloat(v,n){
    var str = v.toExponential();
    var [b,e] = str.split('e');
    b = (+b).toFixed(n-1);
    var result = b+'e'+e;
    return +result;
}
</script>


<script type="text/javascript" src="/static/js/individual_pubmed.js"></script>

<script type="text/javascript">
$('.table-sorter').tablesorter({
    theme : 'bootstrap',
    headerTemplate : '{content}{icon}',
    // hidden filter input/selects will resize the columns, so try to minimize the change
    widthFixed : true,
    // initialize zebra striping and filter widgets
    widgets : ["zebra", "filter", "stickyHeaders", "uitheme"],
    widgetOptions : {
        zebra : ["even", "odd"],
        // Use the $.tablesorter.storage utility to save the most recent filters
        //filter_saveFilters : true,
        // jQuery selector string of an element used to reset the filters
        filter_reset : 'button.reset',
        filter_columnFilters : true,
        textSorter: {
             3: $.tablesorter.sortNatural,
        }
        // add custom selector elements to the filter row
        /*filter_formatter : {
            // (jQuery selector added v2.17.0)
            // Allele Count
            'th:contains("Allele Count")' : function($cell, indx){
            return $.tablesorter.filterFormatter.uiSlider( $cell, indx, {
                delayed : true,
                valueToHeader : false,
                exactMatch : false,
                allText : 'all', // this is ignored when compare is not empty
                compare : [ '=', '>=', '<=' ],
                selected : 1,
                // jQuery UI slider options
                value : 1,
                  min : 1,
                  max : 5000
                });
            }
        }*/
    }
});

// get variant_id in real time
$('.variant_id').hover(function(e){
    // get variant_id
    var span = $(this);
    var id = span.text();
    $.get('/variant_json/' + id,
        function(data){
            var content = '<p><b>Hom count: ' + data.result.HOM_COUNT + '</b></p>';
            $.each(data.result.hom_samples.sort(), function(i,v){
                if (session_user=='demo') { var v='hidden'; }
                content += '<a href="/individual/' + v + '">' + v + '</a><br />'
            });
            content += '<hr /><p><b>Het count: ' + data.result.HET_COUNT + '</b></p>';
            $.each(data.result.het_samples.sort(), function(i,v){
                if (session_user=='demo') { var v='hidden'; }
                content += '<a href="/individual/' + v + '">' + v + '</a><br />'
            });
            content += '<hr /><p><b>Miss count: ' + data.result.MISS_COUNT + '</b></p>';
            span.attr('data-original-title', '<a href="/variant/' + id + '">Link to variant</a>');
            span.attr('data-content', content).data('bs.popover').setContent();
    });
});
/*
$.get('http://whateverorigin.org/get?url=' + encodeURIComponent('http://exac.broadinstitute.org/gene/{{ gene.gene_id }}'), function(data){
            alert(data.contents);
            });
*/

// get individual_id in real time
$('.individual_id').hover(function(){
    // get variant_id
    var span = $(this);
    var id = span.text();
    $.get('/individual_json/' + id,
        function(data){
            if (!data.result) {
                span.attr('data-original-title', '<a href="/individual/' + id + '">'+id+'</a>');
                span.attr('data-content', 'No Data Available').data('bs.popover').setContent();
            }
            var content = '<p><b>Status:</b> ' + data.result.solved.status + '</p>';
            if (typeof data.result.genes != 'undefined') {
            content += '<p><b>Genes:</b> ' + data.result.genes[0].gene + '</p>';
            } else {
            content += '<p><b>Genes:</b>  </p>';
            }
            content += '<p><b>Features:</b><br/>'
            $.each(data.result.features.sort(), function(i,v){
                content += '<a href="/hpo/'+v.label+'">'+v.label+'</a><br/>';
            });
            content += '</p>';
            span.attr('data-original-title', '<a href="/individual/' + id + '">'+id+'</a>');
            span.attr('data-content', content).data('bs.popover').setContent();
    });
});

</script>

{% endblock %}
