{% extends "material_layout.html" %} {% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text text-darken-1"><i class="material-icons" style="font-size: inherit;">flash_on</i></h2>
                        <h5 class="center">Speeds Up Research</h5>
                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text text-darken-1"><i class="material-icons" style="font-size: inherit;">group</i></h2>
                        <h5 class="center">Multiple Datasets</h5>
                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text text-darken-1"><i class="material-icons" style="font-size: inherit;">settings</i></h2>
                        <h5 class="center">Lightening Fast</h5>
                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="background-color: #ececec;">
        <div class="container">
            <h4 class="center" style="padding-bottom:1rem;">Phenopolis Statistics</h4>
            <h5 class="center light">Samples: There are 6052 exomes (773 male, 1128 female, and 4144 unknown).</h5>
            <h5 class="center light">Variants: There is a total of 3,813,475 variants in this data. 2,975,765 variants pass the GATK filter.</h5>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h4 class="center" style="padding-bottom:1rem;">Contact Us</h4>
            <h5 class="center light">Please feel free to contact us <a href="#!">here</a> to give us feedback or report any issues.</h5>
        </div>
    </div>
{% endblock %}
