{% extends "layout.html" %}
{% block body %}

<h1>  Phenotype: {{ hpo_name }} ({{ hpo_id }}) </h1>

<script type="text/javascript">
    window.variants = {{ variants|tojson|safe }};
</script>


<div class="tabs">

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tab1" role="tab" data-toggle="tab" id="individuals_loaded">Individuals ({{individuals|length}})</a></li> 
    <li><a href="#tab2" role="tab" data-toggle="tab">Literature genes ({{lit_genes|length}})</a></li>
    <li><a href="#tab3" role="tab" data-toggle="tab" id="variants_loaded">All Shared LOF Genes ({{obs_genes|length}})</a></li>
   <li><a href="#tab4" role="tab" data-toggle="tab" id="genes_loaded">SimReg </a></li>
</ul>

<div class="tab-content">

    <div id="tab1" class="tab-pane active">
    <table id="individuals" class="tablesorter">
        <tbody>
        {% for ind in individuals %}
            <tr>
                <td class="omit_csv">
                    <a href="/individual/{{ ind }}" target="_blank"> {{ind}} </href>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


    <div id="tab2" class="tab-pane">
    <table id="gene_table" class="tablesorter">
        <tbody>
        {% for g in lit_genes %}
            <tr>
                <td class="omit_csv">
                    <a href="/gene/{{ g['gene_id'] }}?hpo={{hpo_id}}" target="_blank"> {{ g['gene_name'] }} </href>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div id="tab3" class="tab-pane">
    <table id="gene_table" class="tablesorter">
        <tbody>
        {% for g in obs_genes %}
            <tr>
                <td class="omit_csv">
                    <a href="/gene/{{ g }}" target="_blank"> {{ g }} </href>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


    <!--
    <div id="tab3" class="tab-pane">
    <table id="gene_table" class="tablesorter">
        <tbody id="variants_table">
        </tbody>
    </table>
    </div>
    -->

    <div id="tab4" class="tab-pane">
        <table id="gene_table2" class="tablesorter">
            <tbody id="variants_table2">
            </tbody>
        </table>>
    </div>

</div>

</div>



<script type=text/javascript>

$(function() {

var patients = {{individuals|tojson|safe}};
var hpo_id = "{{hpo_id}}" ;
var total_length=window.variants.length;
var variant_chunks = [];
var chunk_size = 100;
var i=0;


// this groups the loaded variants by gene, sort the genes by count,
// and loads them in tab4
function finish() {
        var genes=_.groupBy(window.variants,"genes");
        var genes = $.map(genes, function(value,index) { return [value] });
        genes=genes.sort(function(a, b){return b.length-a.length});
        for (var j=0; j<genes.length; j++) {
            var gene=genes[j][0].vep_annotations[0].SYMBOL;
            var var_count=genes[j].length;
            var row = document.createElement("tr");
            var td = document.createElement("td");
            var a = document.createElement("a");
            a.href="/gene/"+gene+"?hpo="+hpo_id;
            a.target="_blank";
            var text = document.createTextNode(j + ":" + gene + ":" + var_count);
            a.appendChild(text);
            td.appendChild(a);
            row.appendChild(td);
            document.getElementById("variants_table2").appendChild(row);
        }
        var x=document.getElementById("genes_loaded");
        x.text="Variants Grouped By Gene "+document.getElementById("variants_table2").rows.length;
}


// calls getData if more data left to fetch
// otherwise calls finish to group downloaded variants
// by gene
function handleData(data) {
    console.log(i);
     //console.log("request "+variant_chunks[i].length);
     //console.log("response "+ data.result.length);
     $.each(data.result,function(ind,r){
            // display all variants and let user filter
            if (r!=null) { //&& r.vep_annotations[0].Consequence != "synonymous_variant") {
                var row = document.createElement("tr");
                var td = document.createElement("td");
                var text = document.createTextNode(ind + ":" + r.variant_id +" "+r.genes[0]+' '+r.vep_annotations[0].Consequence);
                td.appendChild(text);
                row.appendChild(td);
                document.getElementById("variants_table").appendChild(row);
                var x=document.getElementById("variants_loaded");
                x.text="Variants "+document.getElementById("variants_table").rows.length+"/"+total_length;
                // append to window variants as it was emptied previously
                window.variants.push(r);
            } else {
                console.log('empty response!');
            }
     });
    if ((i+1)<variant_chunks.length) {
        getData(i++);
    } else {
        finish();
    }
}


// fetches the chunk specified by i
function getData(i) {
    $.ajax( {
                type : 'POST',
                url : '/fetch_variant', 
                data : {variants: variant_chunks[i].join(',')},
                success : handleData,
                dataType :  "json"
        } );
}

// start fetching the variants
// enter recursive calling getData - fetchVariants until i reaches
// variant_chunks.length
function fetchVariants() {
    // split variants into chunks of 100
    // window.variants gets emptied  in the process
    total_length=window.variants.length;
    variant_chunks = [];
    while (window.variants.length > 0) variant_chunks.push(window.variants.splice(0, chunk_size));
    i=0;
    getData(i);
}

// fetch private variants to patients
// calls fetchVariants on complection
function fetchPrivateVariants(patients) {
    console.log(patients);
    $.ajax( {
                type : 'POST',
                url : '/fetch_private_variants', 
                data : {patients: patients.join(',')},
                success : function(data) {
                    window.variants=data.result;
                    fetchVariants();
                },
                dataType :  "json"
        } );
}

// fetch common variants to patients
// calls fetchVariants on complection
function fetchCommonVariants(patients) {
    console.log(patients);
    $.ajax( {
                type : 'POST',
                url : '/fetch_common_variants', 
                data : {patients: patients.join(',')},
                success : function(data) {
                    window.variants=data.result;
                    fetchVariants();
                },
                dataType :  "json"
        } );
}



// fetches patients with hpo term
// calls fetchPrivateVariants on completion
function fetchPatients(hpo_id) {
    $.ajax( {
                type : 'POST',
                url : '/fetch_hpo', 
                data : {hpo_ids: hpo_id},
                success : function(data) {
                    console.log(data);
                    patients=data.result;
                    $.each(data.result,function(i,r){
                        // display all variants and let user filter
                            var row = document.createElement("tr");
                            var td = document.createElement("td");
                            var a = document.createElement("a");
                            a.href="/individual/"+r;
                            a.target="_blank";
                            var text = document.createTextNode(i + ":" + r );
                            a.appendChild(text);
                            td.appendChild(a);
                            row.appendChild(td);
                            document.getElementById("individuals").appendChild(row);
                            var x=document.getElementById("individuals_loaded");
                            x.text="Individuals: "+document.getElementById("individuals").rows.length;
                            patients.push(r);
                    })
                    //fetchPrivateVariants(patients);
                    fetchCommonVariants(patients);
                },
                dataType :  "json"
        } );
}


// this start the fetching of the data
//var patients=fetchPatients(hpo_id);
fetchCommonVariants(patients);

});

</script>



{% endblock %}
