{% extends "material_app_layout.html" %} {% block body %}
<div class="container">
    <div class="card z-depth-3">
        <div class="card-content">
            <h3 class="truncate" style="font-weight: 300">Phenotype: {{ hpo_name }} ({{ hpo_id }}) </h3>
        </div>
        <div class="card-tabs" style="padding-top: 2rem;">
            <ul class="tabs tabs-fixed-width ">
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#individual_tab">Individuals</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#literature_genes_tab">Literature Genes</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#phenogenon_tab">Phenogenon</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#skat_tab">SKAT</a></li>
                <div class="indicator light-blue darken-2" style="z-index:1"></div>
            </ul>
        </div>
        <div class="card-content grey lighten-5">
            <div id="individual_tab">
                <h4 style="font-weight:300;">Individuals</h4>
                <p>Below is a list of individuals who have this phenotype or a descendant of it.</p>
                <div class="col m12" id="individual" style="padding-top:2rem;">
                    {% include "components/loading_from_server.html" %}
                    <table id='individuals_table' class='table-sorter striped centered' style="display:none;">
                        <thead>
                            {% include "components/table-pager.html" %}
                            <tr>
                                <th>Individual</th>
                                <th>Gender</th>
                                <th>Phenotype</th>
                                <th tooltip='scaled score from Monarch'>Phenotype Score</th>
                                <th>Rare Hom</th>
                                <th>Rare Comp Het</th>
                                <th>Rare</th>
                                <th>Candidate Genes</th>
                                <th>Candidate Variants</th>
                            </tr>
                        </thead>
                        <tbody id='individuals_table_body'>
                        </tbody>
                        <tfoot>
                            {% include "components/table-pager.html" %}
                        </tfoot>
                    </table>
                </div>
            </div>
            <div id="literature_genes_tab">
                <h4 style="font-weight:300;">Literature Genes</h4>
                <p>Below is a list of the literature genes from OMIM which are associated with this phenotype.</p>
                <div class="col m12" id="literature_genes" style="padding-top:2rem;">
                    {% include "components/loading_from_server.html" %}
                    <table id="phenogenon_lit_genes_table" class="table-sorter striped centered" style="display:none;">
                        <thead>
                            {% include "components/table-pager.html" %}
                            <tr>
                                <th>Gene</th>
                                <th>Phenogenon Dominant p-value</th>
                                <th>Phenogenon Recessive p-value</th>
                            </tr>
                        </thead>
                        <tbody id="phenogenon_lit_genes_body"> </tbody>
                        <tfoot>
                            {% include "components/table-pager.html" %}
                        </tfoot>
                    </table>
                </div>
            </div>
            <div id="phenogenon_tab">
                <h4 style="font-weight:300;">Phenogenon</h4>
                <p>Below is a list of the significant Phenogenon genes.</p>
                <div class="card-tabs" style="padding-top: 2rem; margin-right: -24px; margin-left: -24px">
                    <ul class="tabs tabs-fixed-width" id="phenogenon_tabs">
                        <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#phenogenon_recessive_tab">Recessive</a></li>
                        <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#phenogenon_dominant_tab">Dominant</a></li>
                        <div class="indicator light-blue darken-2" style="z-index:1"></div>
                    </ul>
                </div>
                <div id="phenogenon_recessive_tab">
                    <h4 style="font-weight:100;">Recessive</h4>
                    <p><strong>Genotype: </strong>With at least two variants on a given gene that have ExAC home count not higher than <span class='blue-text'>2</span>, and CADD phred score not lower than <span class='blue-text'>15</span></p>
                    <div class="col m12" id="phenogenon_recessive" style="padding-top:2rem;">
                        {% include "components/loading_from_server.html" %}
                        <table id="gene_recessive_table" class="table-sorter striped centered" style="display:none;">
                            <thead>
                                {% include "components/table-pager.html" %}
                                <tr>
                                    <th>Recessive Genes</th>
                                    <th title='fisher test'>p value</th>
                                </tr>
                            </thead>
                            <tbody id="recessive_table_body"> </tbody>
                            <tfoot>
                                {% include "components/table-pager.html" %}
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="phenogenon_dominant_tab">
                    <h4 style="font-weight:100;">Dominant</h4>
                    <p><strong>Genotype: </strong>With at least two variants on a given gene that have ExAC home count not higher than <span class='blue-text'>0.0001</span>, and CADD phred score not lower than <span class='blue-text'>15</span></p>
                    <div class="col m12" id="phenogenon_dominant" style="padding-top:2rem;">
                        {% include "components/loading_from_server.html" %}
                        <table id="gene_dominant_table" class="table-sorter striped centered" style="display:none;">
                            <thead>
                                {% include "components/table-pager.html" %}
                                <tr>
                                    <th>Dominant Genes</th>
                                    <th title='fisher test'>p value</th>
                                </tr>
                            </thead>
                            <tbody id="dominant_table_body"> </tbody>
                            <tfoot>
                                {% include "components/table-pager.html" %}
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div id="skat_tab">
                <h4 style="font-weight:300;">SKAT</h4>
                <p>Below is a list of genes and their variants from the Sequence Kernel Association Test (SKAT).</p>
                <div class="col m12" id="skats" style="padding-top:2rem;">
                    {% include "components/loading_from_server.html" %}
                    <table id='skats_table' class='table-sorter striped centered' style="display:none;">
                        <thead>
                            {% include "components/table-pager.html" %}
                            <tr>
                                <th>Gene</th>
                                <th>pLI</th>
                                <th>Mode</th>
                                <th>FisherPvalue</th>
                                <th>SKATO</th>
                                <th>OddsRatio</th>
                                <th>Variants</th>
                            </tr>
                        </thead>
                        <tbody id='skats_table_body'>
                        </tbody>
                        <tfoot>
                            {% include "components/table-pager.html" %}
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
