{% extends "layout.html" %} {% block body %}
<!-- tablesorter plugin -->
<link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.widgets.js"></script>
<!-- filter formatter code -->
<link rel="stylesheet" type=text/css href="/static/css/filter.formatter.css">
<link rel="stylesheet" type=text/css href="/static/css/theme.bootstrap.css">
<style>
#individuals_table {
    margin-top: 20px;
}

.label {
    font-size: 0.9em;
    line-height: 2.3em;
    font-weight: 500;
}
</style>
<h1>My Patients<span id="total-patients"></span></h1>
<img id="patients_loading_image" src='/static/Loading_icon.gif' style="width:60px;height:60px;" >

<table id="individuals_table" class="tablesorter" style="display:none;">
    <thead>
        <tr>
            <th>Individual </th>
            <th>Gender</th>
            <th>Phenotype</th>
            <th tooltip="scaled score from Monarch">Phenotype Score</th>
            <th>Rare Hom</th>
            <th>Rare Comp Het</th>
            <th>Rare</th>
            <th>Candidate Genes</th>
        </tr>
    </thead>
    <tbody id="individuals_table_body"></tbody>
</table>
<script type=text/javascript>
var fetchPatients = function() {
    $.ajax({
        type: 'GET',
        url: '/individuals_json',
        dataType: 'json',
        timeout: 120000,
        success: function(data) {
            var patients = data.result;
            for (var i = 0; i < patients.length; i++) {
                // generate tr
                $('<tr>').append(
                    $('<td>').html(create_url('/individual', patients[i].external_id)),
                    $('<td>').text(patients[i].sex),
                    $('<td>').html(generateFeaturesHtml(patients[i].features)),
                    $('<td>').text(patients[i].specificity.score.toFixed(2)),
                    $('<td>').text(patients[i].rare_homozygous_variants_count),
                    $('<td>').text(patients[i].rare_compound_hets_count),
                    $('<td>').text(patients[i].rare_variants_count),
                    $('<td>').html(generateGeneHtml(patients[i].genes))
                ).appendTo('#individuals_table_body');
            }
            $('#total-patients').text(' (Total: '+patients.length+')');
            $('#patients_loading_image').remove();
            $('#individuals_table').show();
            initTableSorter('#individuals_table');
            $('#individuals_table').on('filterEnd', function(){
              $('#total-patients').text(' (Total: '+patients.length+')');
            });
        },
        error: function(error, msg) {
            console.log(error);
            console.log(msg);
        }
    });
};

var generateFeaturesHtml = function(features) {
    var features_html = '';
    for (var i = 0; i < features.length; i++) {
        features_html = features_html + ' ' + create_url('/hpo', features[i].label, features[i].id, 'label label-primary');
    }
    return (features_html);
};

var generateGeneHtml = function(genes) {
    var genes_html = '';
    for (var i = 0; i < genes.length; i++) {
        genes_html = genes_html + ' ' + create_url('/gene', genes[i], genes[i], 'label label-primary');
    }
    return (genes_html);
};

var create_url = function(base_url, text, url_end, a_class) {
    if (url_end === undefined) {
        return '<a href=' + base_url + '/' + text + ' target="_blank">' + text + '</a>';
    } else if (a_class === undefined) {
        return '<a href=' + base_url + '/' + url_end + ' target="_blank">' + text + '</a>';
    } else {
        return '<a class="' + a_class + '" href=' + base_url + '/' + url_end + ' target="_blank">' + text + '</a>';
    }
};

var initTableSorter = function(table) {
    $(table).tablesorter({
        theme: 'bootstrap',
        headerTemplate: '{content}{icon}',
        // hidden filter input/selects will resize the columns, so try to minimize the change
        widthFixed: true,
        // initialize zebra striping and filter widgets
        widgets: ['zebra', 'filter', 'stickyHeaders'],
        widgetOptions: {
            zebra: ['even', 'odd'],
            // Use the $.tablesorter.storage utility to save the most recent filters
            //filter_saveFilters : true,
            // jQuery selector string of an element used to reset the filters
            filter_reset: 'button.reset',
            filter_columnFilters: true,
        }
    });
};

$(document).ready(function() {
    fetchPatients();
});
</script>
{% endblock %}
