{% extends "material_app_layout.html" %} {% block body %}
<div class="container">
    <div class="card z-depth-3">
        <div class="card-content">
            <div class="right" id="edit_icon" style="display:none;"><a class="modal-trigger waves-effect waves-light btn-large light-blue darken-2 btn-floating tooltipped" data-position="left" data-delay="50" data-tooltip="Edit Patient Features" href="#edit_modal"><i class="material-icons left">mode_edit</i></a></div>
            <h3 class="truncate" style="font-weight: 300">Individual: {{patient.external_id}}</h3>
            <table class="info_table" style="display:none">
                <tbody>
                    <tr>
                        <td>Gender</td>
                        <td id="patient_gender"></td>
                    </tr>
                    <tr>
                        <td>Features</td>
                        <td id="patient_features"></td>
                    </tr>
                    <tr>
                        <td>Consanguinity</td>
                        <td id="patient_consanguinity"></td>
                    </tr>
                    <tr>
                        <td>Candidate Genes</td>
                        <td id="patient_genes"></td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
            <!-- <a class="waves-effect bluewaves-light btn"><i class="material-icons left">edit</i>Edit Patient Details</a> -->
        </div>
        <div class="card-tabs" style="padding-top: 2rem;">
            <ul class="tabs tabs-fixed-width ">
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#omim_tab">OMIM Genes</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#homs_tab">Rare Homs</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#comp_hets_tab">Rare Comp Hets</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#variants_tab">Rare Variants</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#exomiser_tab">Exomiser</a></li>
                <div class="indicator light-blue darken-2" style="z-index:1"></div>
            </ul>
        </div>
        <div class="card-content grey lighten-5">
            <div id="omim_tab">
                <h4 style="font-weight:300;">OMIM Genes</h4>
                <p>This is the set of known HPO to gene relationships obtained from OMIM.</p>
                {% include "components/loading_from_server.html" %}
                <div id="venn" class="omim_venn_diagram center-align">
                </div>
            </div>
            <div id="homs_tab">
                <h4 style="font-weight:300;">Rare HOMs</h4>
                <p>This is the list of rare homozygous variants in this individual obtained with thresholds.</p>
                {% include "components/loading_from_server.html" %}
                <table id='homs_table' class='table-sorter striped centered' style="display:none;">
                    <thead>
                        {% include "components/table-pager.html" %}
                        <tr>
                            <th>Genes</th>
                            <th>Exomiser Gene Score</th>
                            <th>Phenogenon Gene Score</th>
                            <th>OMIM HPO</th>
                            <th>Pubmed Gene</th>
                            <th>Variant ID</th>
                            <th>Allele Frequency</th>
                            <th>ExAC Frequency</th>
                            <th>Kaviar Frequeny</th>
                            <th>Most Severe Consequence</th>
                            <th>HGVSP</th>
                            <th>Canonical CADD</th>
                            <th>Het Individual</th>
                            <th>Hom Individual</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id='homs_table_body'>
                    </tbody>
                    <tfoot>
                        {% include "components/table-pager.html" %}
                    </tfoot>
                </table>
            </div>
            <div id="comp_hets_tab">
                <h4 style="font-weight:300;">Rare Comp Hets</h4>
                <p>This is the list of rare compound heterozgote variants (more than one variant in a given gene) found in this individual obtained with allele frequency thresholds.</p>
                {% include "components/loading_from_server.html" %}
                <table id='comp_hets_table' class='table-sorter striped centered' style="display:none;">
                    <thead>
                        {% include "components/table-pager.html" %}
                        <tr>
                            <th>Genes</th>
                            <th>Exomiser Gene Score</th>
                            <th>Phenogenon Gene Score</th>
                            <th>OMIM HPO</th>
                            <th>Pubmed Gene</th>
                            <th>Variant ID</th>
                            <th>Allele Frequency</th>
                            <th>ExAC Frequency</th>
                            <th>Kaviar Frequeny</th>
                            <th>Most Severe Consequence</th>
                            <th>HGVSP</th>
                            <th>Canonical CADD</th>
                            <th>Het Individual</th>
                            <th>Hom Individual</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id='comp_hets_table_body'>
                    </tbody>
                    <tfoot>
                        {% include "components/table-pager.html" %}
                    </tfoot>
                </table>
            </div>
            <div id="variants_tab">
                <h4 style="font-weight:300;">Rare Variants</h4>
                <p>This is the list of rare compound heterozgote variants (more than one variant in a given gene) found in this individual obtained with allele frequency thresholds.</p>
                {% include "components/loading_from_server.html" %}
                <table id='variants_table' class='table-sorter striped centered' style="display:none;">
                    <thead>
                        {% include "components/table-pager.html" %}
                        <tr>
                            <th>Genes</th>
                            <th>Exomiser Gene Score</th>
                            <th>Phenogenon Gene Score</th>
                            <th>OMIM HPO</th>
                            <th>Pubmed Gene</th>
                            <th>Variant ID</th>
                            <th>Allele Frequency</th>
                            <th>ExAC Frequency</th>
                            <th>Kaviar Frequeny</th>
                            <th>Most Severe Consequence</th>
                            <th>HGVSP</th>
                            <th>Canonical CADD</th>
                            <th>Het Individual</th>
                            <th>Hom Individual</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id='variants_table_body'>
                    </tbody>
                    <tfoot>
                        {% include "components/table-pager.html" %}
                    </tfoot>
                </table>
            </div>
            <div id="exomiser_tab">
                <h4 style="font-weight:300;">Exomiser</h4>
                <p>These are the result files of running <a href="http://www.sanger.ac.uk/science/tools/exomiser">Exomiser prioritisation</a> on the variants of these individuals under different inheritance modes.</p>
                {% include "components/loading_from_server.html" %}
                <div class="exomiser_content">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Edit Modal -->
<div id="edit_modal" class="modal">
    <form id="edit_patient_data_form">
        <div class="modal-content">
            <i class="material-icons right modal-close">close</i>
            <h4>Patient Data</h4>
            <div>
                <h5 style="font-weight: 300">Gender</h5>
                <div class="gender_edit">
                    <div class="row">
                        <p class="col s2">
                            <input name="gender_edit[]" type="radio" value="male" id="male_edit" />
                            <label for="male_edit">Male</label>
                        </p>
                        <p class="col s2">
                            <input name="gender_edit[]" type="radio" value="female" id="female_edit" />
                            <label for="female_edit">Female</label>
                        </p>
                        <p class="col s2">
                            <input name="gender_edit[]" type="radio" value="unknown" id="unknown_edit" />
                            <label for="unknown_edit">Unknown</label>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <h5 style="font-weight: 300">Features</h5>
                <div id="features_edit">
                    <div class="chips chips-initial chips-autocomplete">
                    </div>
                </div>
            </div>
            <div>
                <h5 style="font-weight: 300">Candidate Genes</h5>
                <div id="genes_edit">
                    <div class="chips chips-initial chips-autocomplete">
                    </div>
                </div>
            </div>
            <div>
                <h5 style="font-weight: 300">Consanguinity</h5>
                <div class="consanguinity_edit">
                    <div class="row">
                        <p class="col s2">
                            <input name="consanguinity_edit[]" type="radio" value="yes" id="consanguinity_yes_edit" />
                            <label for="consanguinity_yes_edit">Yes</label>
                        </p>
                        <p class="col s2">
                            <input name="consanguinity_edit[]" type="radio" value="no" id="consanguinity_no_edit" />
                            <label for="consanguinity_no_edit">No</label>
                        </p>
                        <p class="col s2">
                            <input name="consanguinity_edit[]" type="radio" value="unknown" id="consanguinity_unknown_edit" />
                            <label for="consanguinity_unknown_edit">Unknown</label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
            <a href="#!" class="left modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            <a id="save_modal" href="#!" class="waves-effect waves-green btn-flat">Save</a>
        </div>
    </form>
</div>
<!-- Confirmation Modal -->
<div id="confirm_edit_modal" class="modal">
    <div class="modal-content">
        <i class="material-icons right modal-close">close</i>
        <h4>Please Confirm...</h4>
        <p>This will update the database. Are you sure you want to continue</p>
    </div>
    <div class="modal-footer" style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
        <a href="#!" class="left modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        <a id="submit_edit_modal" href="#!" class="waves-effect waves-green btn-flat">Submit</a>
    </div>
</div>
{% endblock %}
