{% extends "layout.html" %}
{% block body %}

<h1> 
    Individual: <a href='https://phenotips.cs.ucl.ac.uk/bin/{{patient.report_id}}' target='_blank'>{{external_id}}</a> <span class='sex'>[{{ patient.sex }}]</span> 
</h1>

<!-- jQuery UI for range slider -->
<!--link rel="stylesheet"  type=text/css href="/static/jquery-ui.min.css"-->
<!-- <link rel="stylesheet"  type=text/css href="/static/css/theme.blue.css"> -->
<!-- tablesorter plugin -->
<!-- filter formatter code -->
<link rel="stylesheet"  type=text/css href="/static/css/theme.bootstrap.css">
<link rel="stylesheet"  type=text/css href="/static/css/introjs.min.css">

<!--<script  type="text/javascript" src="/static/widgets/widget-filter-formatter-jui.js"></script>-->

<!-- jQuery UI for range slider -->
<!-- <link rel="stylesheet"  type=text/css href="/static/jquery-ui.min.css"> -->
<!-- <script  type="text/javascript" src="/static/jquery-ui.min.js"></script> -->
<!-- <link rel="stylesheet"  type=text/css href="/static/css/theme.blue.css"> -->
<!-- tablesorter plugin -->
<!-- <script  type="text/javascript" src="/static/jquery.tablesorter.js"></script> -->
<!-- <script  type="text/javascript" src="/static/jquery.tablesorter.widgets.js"></script> -->
<!-- filter formatter code -->
<!-- <link rel="stylesheet"  type=text/css href="/static/css/filter.formatter.css"> -->
<!-- <script  type="text/javascript" src="/static/widgets/widget-filter-formatter-jui.js"></script> -->
<style>
    #gene_table {
        margin-top: 20px;
    }
    .export-row {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    th {
        font-size: 20%;
    }
    .retnet-mode {
        color: red;
        font-family: "Comic Sans MS", cursive, sans-serif;
        background-color: #F0F0F0;
    }
    .export {
        margin: 10px;
        margin-left: 20px;
    }
    .known {
        color: green;
        font-family: "Comic Sans MS", cursive, sans-serif;
        background-color: #F0F0F0;
    }
    span.pointer {
        color: #3366BB;
    }
    span.pointer:hover {
        cursor: pointer;
    }
    .fail {
        /* background-color: red; */
        text-decoration:line-through;
        opacity: 0.4; /* Real browsers */
        filter: alpha(opacity = 40); /* MSIE */
    }
    tr.error {
        background-color: red;
        text-decoration:line-through;
        opacity: 0.4; /* Real browsers */
        filter: alpha(opacity = 40); /* MSIE */
    }
    .warn {
        /* background-color: yellow; */
        opacity: 0.4; /* Real browsers */
        filter: alpha(opacity = 40); /* MSIE */
    }
    .hpo-th {
        font-size: 100%;
        text-align: center;
    }
    .success {
        font-size: 200%;
        color: green;
    }
    span.hide {
        display: none;
    }
    .venn.hide {
        display: none;
    }
    .button-more{
        padding-left: 30px;
        padding-right: 30px;
        transition:0.5s;
    }
    .button-more:hover {
        color:#D0D0D0;
        cursor: pointer;
    }
    .pop:hover {
        cursor: pointer;
    }
    td {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    hr {
        line-height: 2px;
        margin: 4px;
    }
    div.search-term {
        margin-top: 10px;
    }
    span.sex {
        font-size: 70%;
        color: #AAAAAA;
    }
    span.gene-emphasis {
        background-color: #C8FE2E; 
    }
    span.OR-emphasis {
        background-color: yellow;
    }
    span.ind-header {
        background-color:#EEEEEE;
        display:inline-block;
        border: 1px solid;
        border-radius: 7px;
        padding-left:5px;
        padding-right:5px;
        border-color:#DDDDDD;
        margin-bottom: 4px;
    }
    span.ind-header.venn {
        margin: 3px;
        font-size: 70%;
    }
    .venntooltip {
      position: absolute;
      text-align: center;
      width: 128px;
      height: 25px;
      background: #333;
      color: #ddd;
      padding: 2px;
      border: 0px;
      border-radius: 8px;
      opacity: 0;
    }
    span.solved {
        background-color: #99ff66;
    }
    span.solved a {
        color: #2CA02C;
    }
    span.candidate {
        background-color: #99ccff;
    }
    span.candidate a {
        color: #1F77B4;
    }
    span.hom {
        background-color: #ff9999;
    }
    span.hom a {
        color: #C12324;
    }
    span.compound_het {
        background-color: #ffb380;
    }
    span.compound_het a {
        color: #FF7F0E;
    }
    span.rare {
        background-color: #f0b3ff;
    }
    span.rare a {
        color: #d11aff;
    }
    tr.highlight {
       background-color: #ffa !important;
    }
    .gene-highlight {
        background-color: #90EE90;
    }
    .term-highlight {
        background-color: yellow;
    }
    #update-form {
       border-style: solid;
       border-width: 2px;
       border-color: #DDD;
    }
    span.hidden {
        width:0;
    }
    span.updating {
        {% if not update_status %}
            display: none;
        {% endif %}
        border-radius: 8px;
        padding: 3px;
        padding-left: 3px;
        -webkit-animation-name: example; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
        -webkit-animation-iteration-count: 3; /* Chrome, Safari, Opera */
        animation-name: updating;
        animation-duration: 4s;
        animation-iteration-count: infinite; 
    }
    .abstract {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    /* Chrome, Safari, Opera */
    @-webkit-keyframes updating {
        0%   {background-color:#ddd; color:#999}
        50%  {background-color:#999; color:#ddd}
        100% {background-color:#ddd; color:#999}
    }

    /* Standard syntax */
    @keyframes updating {
        0%   {background-color:#ddd; color:#999}
        50%  {background-color:#999; color:#ddd}
        100% {background-color:#ddd; color:#999}
    }
   </style>


<div class='row'>
    <div class='col-md-6'>
        <p>
            <b>Features:</b>
            {% for f in features %}
                  <span class='ind-header'>
                      <a href='/hpo/{{ f[0] }}'>{{ f[1] }}</a>
                  </span>
            {% endfor %}
        </p>
            <b>Consanguinity:</b> 
            {% if patient.family_history %}
            <span class='ind-header'> {{ patient.family_history.consanguinity }}</span>
            {% endif %}
        </p>
        <p>
            <b>Global Mode of Inheritance:</b> 
            {% if patient.global_mode_of_inheritance %}
                {% for inh in patient.global_mode_of_inheritance %}
                    <span class='ind-header'>{{inh.label}}</span>
                {% endfor %}
            {% endif %}
        </p>
        <p>
            <b> Candidate Genes: </b>
            {% if patient.genes %}
                {% set candiate_genes=patient.genes|map(attribute='gene') %}
                {% for g in patient.genes %}
                    <a href="/gene/{{g.gene}}">{{g.gene}}</a> 
                {% endfor %}
            {% endif %}
        </p>
    </div><!--end of col-md-6-->
</div><!--end of row-->

<!-- update individual_phenotype button -->
<div>
  <div class="row search-term">
     <div class='col-md-12'>
        <form class='form-inline'>
           <div class='form-group'> </div>
           <button class='btn btn-primary btn-sm update_phenotype'>Update phenotype from Phenotips</button>
        </form>
  </div>
</div>

<div class="tabs">

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#individual-tab_hpo_omim" role="tab" data-toggle="tab" id="individuals_loaded">OMIM genes</a></li> 
    <li><a href="#individual-tab_hom_variants" role="tab" data-toggle="tab" id="hom-loaded">Rare Hom ({{patient.homozygous_variants|length}})</a></li>
    <li><a href="#individual-tab_comp_variants" role="tab" data-toggle="tab" id="comp-hets_loaded">Rare Comp Hets ({{patient.compound_hets|length}})</a></li>
    <li><a href="#individual-tab_rare_variants" role="tab" data-toggle="tab" id="variants_loaded">Rare Var ({{patient.rare_variants|length}})</a></li>
    {% if session['user']!='demo' %}
    <li><a href="#individual-tab_downloads" role="tab" data-toggle="tab" id="csv">Download files</a></li>
    {% endif %}
    <li><a href="#individual-tab_Exomiser" role="tab" data-toggle="tab" id="exomiser">Exomiser</a></li>
</ul>

<div class="tab-content">
    <!-- tab1 -->
    {% include "individual-page-tabs/individual-tab_hpo_omim.html" %}
    <!-- tab2 -->
    {% include "individual-page-tabs/individual-tab_hom_variants.html" %}
    <!-- tab3 -->
    {% include "individual-page-tabs/individual-tab_comp_variants.html" %}
    <!-- tab4 -->
    {% include "individual-page-tabs/individual-tab_rare_variants.html" %}
    {% if session['user']!='demo' %}
    <!-- tab5 -->
    {% include "individual-page-tabs/individual-tab_downloads.html" %}
    {% endif %}
    <!-- tab6 -->
    {% include "individual-page-tabs/individual-tab_Exomiser.html" %}
</div>

</div>

<!--modal to show genes on omim page-->
<div class="modal fade" id="omim-genes-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <p id='omim-genes-modal-p'>
                        
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="modal-gene-button">Toggle All</button>
                <button type="button" class="btn btn-default refresh" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- <link rel="stylesheet"  type=text/css href="/static/css/theme.blue.css"> -->
<!-- tablesorter plugin -->
<!--script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script-->
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.widgets.js"></script>
<script type="text/javascript" src="/static/js/individual_pubmed.js"></script>
<script type="text/javascript" src="/static/js/intro.js"></script>
<script type="text/javascript" src="/static/js/venn.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type=text/javascript>
// load pubmed
$('.pubmed-gene-cell').each(function(){
    var theCell = $(this);
    var handler = onVisibilityChange($(this), function() {
        /* send key, get data */
        $.get('/pubmedbatch-cache/'+theCell.attr('pubmedkey'), function(data){
            if (!data){ 
                theCell.html('Will be available later');
            }
            // get gene and terms
            var genes = [data.key.split('_')[0]];
            var terms = data.key.split('_')[1].split('-');
            // add score as hidden
            var content = theCell.children().first()[0].outerHTML;
            $.each(data['data'], function(i,d){
                // highlight
                d.abstract = highlightPubmed(d.abstract, genes, terms);
                // clean title and abstract
                var sq = new RegExp("'", 'g');
                var dq = new RegExp('"', 'g');
                var lt = new RegExp('<', 'g');
                var gt = new RegExp('>', 'g');
                d.title = d.title.replace(sq, "&#39;");
                d.title = d.title.replace(dq, "&#34;");
                d.title = d.title.replace(lt, "&#60;");
                d.title = d.title.replace(gt, "&#62;");
                d.abstract = d.abstract.replace(sq, "&#39;");
                d.abstract = d.abstract.replace(dq, "&#34;");
                d.abstract = d.abstract.replace(lt, "&#60;");
                d.abstract = d.abstract.replace(gt, "&#62;");
                var thisClass = 'pop-modal pointer';
                if (i>1){
                    thisClass += ' pubmed hide';
                }
                content += "<span class='" + thisClass + "' title='<a href=" + '"http://www.ncbi.nlm.nih.gov/pubmed/'+d.id+ '">' + d.title + "</a>'" + 'data-content="' + d.abstract + '">'+d.id+"<br></span>";
            });
            if (data.data.length > 2){
                content += '<br /><span class="pubmed"> and <b>' + (data.data.length - 2) + '</b> more...</span>';
                content += '<br /><span class="button-more"><span class="glyphicon glyphicon-chevron-down"></span></span>';
            }
            // populate cell
            theCell.html(content);
        });
    });
    //jQuery
    $(window).on('DOMContentLoaded click load resize scroll', handler);
});
// venn diagram
var solved_genes = [
    {% if patient.solved.status == 'solved' %}
        "{{ patient.solved.gene|join('","')|safe }}"
    {% endif %}
    ];
var candidate_genes = [
    {% if patient.genes %}
        {% for g in patient.genes %}
            "{{ g.gene }}",
        {% endfor %}
    {% endif %}
    ];
var hom_genes = [ "{{ genes['homozygous_variants']|join('","')|safe }}" ];
var compound_het_genes = [ "{{ genes['compound_hets']|join('","')|safe }}" ];
var rare_genes = [ "{{ genes['rare_variants']|join('","')|safe }}" ];
var sets = [
    {% for combo in feature_venn %}
        {sets: [{{ combo.key|safe }}], size: {{ combo.value|length }}, data: ["{{ combo.value|join('","')|safe }}" ]},
    {% endfor %}
];
var venDiv = d3.select('#venn');
var chart = venn.VennDiagram();
venDiv.datum(sets).call(chart);
// add a tooltip
var tooltip = d3.select("body").append("div").attr("class", "venntooltip");
venDiv.selectAll("path")
    .style("stroke-opacity", 0)
    .style("stroke", "#fff")
    .style("stroke-width", 0);
venDiv.selectAll("g")
    .on("mouseover", function(d, i) {
        // sort all the areas relative to the current item
        venn.sortAreas(venDiv, d);

        // Display a tooltip with the current size
        tooltip.transition().duration(400).style("opacity", .9);
        tooltip.text(d.size + " genes");

        // highlight the current path
        var selection = d3.select(this).transition("tooltip").duration(400);
        selection.select("path")
            .style("stroke-width", 3)
            .style("fill-opacity", d.sets.length == 1 ? .4 : .1)
            .style("stroke-opacity", 1);
    })

    .on("mousemove", function() {
        tooltip.style("left", (d3.event.pageX) + "px")
               .style("top", (d3.event.pageY - 28) + "px");
    })

    .on("mouseout", function(d, i) {
        tooltip.transition().duration(400).style("opacity", 0);
        var selection = d3.select(this).transition("tooltip").duration(400);
        selection.select("path")
            .style("stroke-width", 0)
            .style("fill-opacity", d.sets.length == 1 ? .25 : .0)
            .style("stroke-opacity", 0);
    })
    
    .on("click", function(d, i){
        // get modal title
        var modal_title = d.sets.join('</span> & <span class="ind-header">');
        modal_title = '<span class="ind-header">' + modal_title + '</span>';
        $('#myModalLabel').html(modal_title);
        // get modal content
        var modal = d3.select('#omim-genes-modal-p')
        modal.selectAll('span').remove();
        modal.selectAll('p').remove();
        modal.selectAll('span')
            .data(d.data)
            .enter()
            .append('span')
            .attr('class', function(d){
                var gene_class = 'ind-header venn';
                // solved? candidate? homo? ..
                if ($.inArray(d, solved_genes) != -1){
                    gene_class += ' solved tip';
                } else if ($.inArray(d, candidate_genes) != -1){
                    gene_class += ' candidate tip';
                } else if ($.inArray(d, hom_genes) != -1){
                    gene_class += ' hom tip'
                } else if ($.inArray(d, compound_het_genes) != -1){
                    gene_class += ' compound_het tip';
                } else if ($.inArray(d, rare_genes) != -1){
                    gene_class += ' rare tip';
                } else {
                    gene_class += ' common hide';
                }
                return gene_class;
            })
            .attr('title', function(d){
                var result = '';
                if ($.inArray(d, hom_genes) != -1){
                    result = '<b>HOM-V: </b>' + $('#hom-' + d).find('.p-change').text();
                } else if ($.inArray(d, compound_het_genes) != -1){
                    var p = '';
                    $('.compound_het-' + d).each(function(){
                        console.log($(this));
                        p += $(this).find('.p-change').text() + ' ';
                    });
                    result = '<b>COMPOUND HET-V: </b><br />' + p; //$('#compound_het-' + d).find('.p-change').text();
                } else if ($.inArray(d, rare_genes) != -1){
                    result = '<b> HET-V: </b>' + $('#rare-' + d).find('.p-change').text();
                }
                return result;
            })
            .append('a')
            .attr('href',function(d){
                if ($.inArray(d, hom_genes) != -1){
                    return '#hom-' + d;
                } else if ( $.inArray(d, compound_het_genes) != -1 ){ 
                    return '#compound_het-' + d;
                } else if ( $.inArray(d, rare_genes) != -1){
                    // has the genes in the same page. change link to them
                    return '#rare-' + d;
                } else {
                    return '/gene/' + d;
                }
            })
            .attr('tab',function(d){
                if ($.inArray(d, hom_genes) != -1){
                    return 'individual-tab_hom_variants';
                } else if ($.inArray(d, compound_het_genes) != -1){
                    return 'individual-tab_comp_variants';
                } else if ($.inArray(d, rare_genes) != -1){
                    return 'individual-tab_rare_variants';
                }
                return '';
            })
            .text(function(d){return d;});
        $('#modal-gene-button').show();
        $('#omim-genes-modal').modal('show');
        // get the links right
        $('.ind-header.venn.tip').on('click', function(e){
            e.preventDefault();
            $('tr.highlight').toggleClass('highlight');
            var the_tab = $(this).find('a').attr('tab');
            var the_url = $(this).find('a').attr('href');
            console.log(the_tab);
            $('#omim-genes-modal').modal('hide');
            $('.nav-tabs a[href="#' + the_tab + '"]').tab('show');
            $(the_url).toggleClass('highlight');
            var height = $(the_url).offset().top - 120;
            $(document).scrollTop( height );
        });
        $('.tip').tooltip({html:true});
    });

$('.pubmed-gene-cell').on('click', 'span.button-more',function(){
    var cell = $(this).parent();
    cell.find('span.pubmed').toggleClass('hide');
    $(this).find('span.glyphicon').toggleClass('glyphicon-chevron-up').toggleClass('glyphicon-chevron-down');
    $('html, body').animate({ scrollTop: $(cell).offset().top - 180 }, 'slow');
});

</script>
<script type="text/javascript" src="/static/js/individual_pubmed.js"></script>
<script type="text/javascript">
// call the tablesorter plugin
$('.table-sorter').tablesorter({
    theme : 'bootstrap',
    headerTemplate : '{content}{icon}',
    // hidden filter input/selects will resize the columns, so try to minimize the change
    widthFixed : true,
    // initialize zebra striping and filter widgets
    widgets : ["zebra", "filter", "stickyHeaders", "uitheme"],
    widgetOptions : {
        zebra : ["even", "odd"],
        // Use the $.tablesorter.storage utility to save the most recent filters
        //filter_saveFilters : true,
        // jQuery selector string of an element used to reset the filters
        filter_reset : 'button.reset',
        filter_columnFilters : true,
        textSorter: {
             3: $.tablesorter.sortNatural,
        }
        // add custom selector elements to the filter row
        /*filter_formatter : {
            // (jQuery selector added v2.17.0)
            // Allele Count
            'th:contains("Allele Count")' : function($cell, indx){
            return $.tablesorter.filterFormatter.uiSlider( $cell, indx, {
                delayed : true,
                valueToHeader : false,
                exactMatch : false,
                allText : 'all', // this is ignored when compare is not empty
                compare : [ '=', '>=', '<=' ],
                selected : 1,
                // jQuery UI slider options
                value : 1,
                  min : 1,
                  max : 5000
                });
            }
        }*/
    }
});

////////////////////////////////////
// Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#') && url.match('-')) {
    var hash = url.split('#')[1];
    var tab = hash.split('-')[0];
    if (tab == 'hom'){
        tab = 'individual-tab_hom_variants';
    }else if (tab == 'compound_het'){
        tab = 'individual-tab_comp_variants';
    }else if (tab == 'rare'){
        tab = 'individual-tab_rare_variatns';
    }
    setTimeout(function(){
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
        $('#' + hash).toggleClass('highlight');
        var height = $('#' + hash).offset().top - 120;
        $(document).scrollTop( height );
    }, 500)
} 

// Change hash for page-reload
//$('.nav-tabs a').on('shown.bs.tab', function (e) {
    //window.location.hash = e.target.hash;
//})
//->
// export results to excel
$('.export').on('click', function(){
    exportTableToCSV.apply(this, [$(this).parent().parent(), 'export.csv']);
});

// resubmit the pubmed-search
$('.re-search').on('click', function(e){
    e.preventDefault();
    $('span.updating').show();
    var OR = $(this).parent().find('.re-search-input').val();
    $.post('/research_pubmed',
        { OR: OR, p_id: '{{ external_id }}' },
        function(data){
            $('span.updating').hide();
            if (data != '0'){
                alert('something went wrong while updating!')
            }else{
               location.reload();
            }
        });
});

// display pubmed result
$('.pubmed-gene-cell').on('click','.pop-modal', function(){
    var title = $(this).attr('title');
    var content = $(this).attr('data-content');
    $('#myModalLabel').html(title);
    $('#omim-genes-modal-p').html('<p class="abstract">' + content + '</p>');
    $('#modal-gene-button').hide();
    $('#omim-genes-modal').modal('show');
})

// show all genes when pressed button
$('#modal-gene-button').on('click',function(){
    $('.venn.common').toggleClass('hide');
});

// download csv files
$('.download-csv').on('click',function(){
    folder = $(this).attr('csv');
    p_id = '{{ external_id }}';
    window.location='/download/send_csv?p_id='+p_id+'&folder='+folder;
});

// download files
$('.download').on('click',function(){
    filetype = $(this).attr('filetype');
    index = $(this).attr('index');
    p_id = '{{ external_id }}';
    window.location='/download?p_id='+p_id+'&filetype='+filetype+'&index='+index;
});



// update phenotype from phenotips
$('.update_phenotype').on('click',function(){
    p_id = '{{ external_id }}';
    window.location.href='/individual_update/'+p_id;
    return false;
});

$('.variant_status').on('click',function() {
        $.get('/set_variant_status/{{external_id}}/'+$(this).val(),
            {  },
            function(data){
                if (data != '0'){
                    //alert('something is wrong when updating!')
                }else{
                   location.reload();
                }
            });
});

var session_user= "{{session['user']}}" ;
// get variant_id in real time
$('.variant_id').hover(function(){
    // get variant_id
    var span = $(this);
    var id = span.text();
    $.get('/variant_json/' + id,
        function(data){
            var content = '<p><b>Hom count: ' + data.result.HOM_COUNT + '</b></p>';
            $.each(data.result.hom_samples.sort(), function(i,v){
                 if (session_user=='demo') { var v='hidden'; }
                content += '<a href="/individual/' + v + '">' + v + '</a><br />'
            });
            content += '<hr /><p><b>Het count: ' + data.result.HET_COUNT + '</b></p>';
            $.each(data.result.het_samples.sort(), function(i,v){
                 if (session_user=='demo') { var v='hidden'; }
                content += '<a href="/individual/' + v + '">' + v + '</a><br />'
            });
            content += '<hr /><p><b>Miss count: ' + data.result.MISS_COUNT + '</b></p>';
            span.attr('data-original-title', '<a href="/variant/' + id + '">Link to variant</a>');
            span.attr('data-content', content);
    });
});


// get individual_id in real time
$('.individual_id').on('click',function(){
    // get variant_id
    var span = $(this);
    var id = span.text();
    $.get('/individual_json/' + id,
        function(data){
            if ($('h3.popover-title').text() == 'loading...'){
                $('div.popover.in').remove();
                span.trigger('click');
                span.trigger('click');
            }
            if (!data.result) {
                span.attr('data-original-title', '<a href="/individual/' + id + '">'+id+'</a>');
                span.attr('data-content', 'no data available');
            }
            var content = '<p><b>Status:</b> ' + data.result.solved.status + '</p>';
            content += '<p><b>Features:</b><br/>'
            if (typeof data.result.genes != 'undefined') {
            content += '<p><b>Genes:</b> ' + data.result.genes[0].gene + '</p>';
            } else {
            content += '<p><b>Genes:</b>  </p>';
            }
            $.each(data.result.features.sort(), function(i,v){
                content += '<a href="/hpo/'+v.label+'">'+v.label+'</a><br/>';
            });
            content += '</p>';
            span.attr('data-original-title', '<a href="/individual/' + id + '">'+id+'</a>');
            span.attr('data-content', content);
    });
});

</script>

<script>
$(document).ready(function(){
            $('[data-toggle="popover"]').popover(); 
            });
</script>



{% endblock %}
