{% extends "material_app_layout.html" %} {% block body %}
<div class="container">
    <div class="card z-depth-3">
        <div class="card-content">
            <h3 class="truncate" style="font-weight: 300">Individual: <a href='https://phenotips.cs.ucl.ac.uk/bin/{{patient.report_id}}' target='_blank'>{{patient.external_id}}</a> <span class="grey-text" id="sex" style="font-size:0.7em;">[{{ patient.sex }}]</span></h3>
            <table class="info_table" style="display:none">
                <tbody>
                    <tr>
                        <td>Features</td>
                        <td id="patient_features"></td>
                    </tr>
                    <tr>
                        <td>Consanguinity</td>
                        <td id="patient_consanguinity"></td>
                    </tr>
                    <tr>
                        <td>Global Mode of Inheritance</td>
                        <td id="patient_inheritance_mode"></td>
                    </tr>
                    <tr>
                        <td>Candidate Genes</td>
                        <td id="patient_genes"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-tabs" style="padding-top: 2rem;">
            <ul class="tabs tabs-fixed-width ">
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#omim_tab">OMIM Genes</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#homs_tab">Rare Homs</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#comp_hets_tab">Rare Comp Hets</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#variants_tab">Rare Variants</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#exomiser_tab">Exomiser</a></li>
                <div class="indicator light-blue darken-2" style="z-index:1"></div>
            </ul>
        </div>
        <div class="card-content grey lighten-5">
            <div id="omim_tab">
                <h4 style="font-weight:300;">OMIM Genes</h4>
                <p>This is a very interesting analsis that allows us to... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                {% include "components/loading_from_server.html" %}
                <table id='omin_table' class='table-sorter striped centered' style="display:none;">
                    <thead>
                        {% include "components/table-pager.html" %}
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id='omin_table_body'>
                    </tbody>
                    <tfoot>
                        {% include "components/table-pager.html" %}
                    </tfoot>
                </table>
            </div>
            <div id="homs_tab">
                <h4 style="font-weight:300;">Rare HOMs</h4>
                <p>This is a very interesting analsis that allows us to... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                {% include "components/loading_from_server.html" %}
                <table id='homs_table' class='table-sorter striped centered' style="display:none;">
                    <thead>
                        {% include "components/table-pager.html" %}
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id='homs_table_body'>
                    </tbody>
                    <tfoot>
                        {% include "components/table-pager.html" %}
                    </tfoot>
                </table>
            </div>
            <div id="comp_hets_tab">
                <h4 style="font-weight:300;">Rare Comp Hets</h4>
                <p>This is a very interesting analsis that allows us to... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                {% include "components/loading_from_server.html" %}
                <table id='comp_hets_table' class='table-sorter striped centered' style="display:none;">
                    <thead>
                        {% include "components/table-pager.html" %}
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id='comp_hets_table_body'>
                    </tbody>
                    <tfoot>
                        {% include "components/table-pager.html" %}
                    </tfoot>
                </table>

            </div>
            <div id="variants_tab">
                <h4 style="font-weight:300;">Rare Variants</h4>
                <p>This is a very interesting analsis that allows us to... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                {% include "components/loading_from_server.html" %}
                <table id='variants_table' class='table-sorter striped centered' style="display:none;">
                    <thead>
                        {% include "components/table-pager.html" %}
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id='variants_table_body'>
                    </tbody>
                    <tfoot>
                        {% include "components/table-pager.html" %}
                    </tfoot>
                </table>
            </div>
            <div id="exomiser_tab">
                <h4 style="font-weight:300;">Exomiser</h4>
                <p>This is a very interesting analsis that allows us to... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                {% include "components/loading_from_server.html" %}
                <table id='exomiser_table' class='table-sorter striped centered' style="display:none;">
                    <thead>
                        {% include "components/table-pager.html" %}
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id='exomiser_table_body'>
                    </tbody>
                    <tfoot>
                        {% include "components/table-pager.html" %}
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
