{% extends "material_app_layout.html" %}
{% block body %}
<div class="container">
    <div class="card z-depth-3">
        <div class="card-content">
            <h3 style="font-weight: 300">Phenopolis</h3>
            <p style="font-size:1.2rem;">An open platform for harmonization and analysis of sequencing and phenotype data.</p>
        </div>
        <div class="card-tabs ">
            <ul class="tabs tabs-fixed-width ">
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#search_tab">Search</a></li>
                <li class="tab" style="display:none;"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#hpo_browser_tab">HPO Browser</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#publications_tab">Publications</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#terms_tab">Terms of Use</a></li>
                <div class="indicator light-blue darken-2" style="z-index:1"></div>
            </ul>
        </div>
        <div class="card-content grey lighten-5">
            <div id="search_tab" class="searching">
                <form id="home_search_form" action="/awesome">
                    <div class="row">
                        <div class="input-field col s12" id="home_search_group">
                            <i class="material-icons prefix">search</i>
                            <input id="search_home" type="text" name="query" class="typeahead" required>
                            <label for="search_home">Search for a phenotype, patient, gene, variant or region</label>
                            <p class="left light-blue-text text-darken-3" id="exemplar_result" style="padding-left:3rem; padding-bottom:1rem; cursor:pointer;">Examplar Pages: <a href="/gene/ENSG00000119685">TTLL5 (Gene)</a> &#149; <a href="/hpo/HP:0000639">Nystagmus (HPO Phenotype)</a> &#149; <a href="/individual/WebsterURMD_Sample_GV4344">WebsterURMD_Sample_GV4344 (Patient)</a> &#149; <a href="/transcript/ENST0000055376/">ENST00000553765 (Transcript)</a> &#149; <a href="/variant/22-38212762-A-G">22-38212762-A-G (Variant)</a></p>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div id="hpo_browser_tab" style="display:none;">
            </div>
            <div id="publications_tab">
                {% include "components/publications.html" %}
            </div>
            <div id="terms_tab">
            {% include "components/terms_and_conditions.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
