<!DOCTYPE html>
<html class="fuelux" lang="en">

<head>
    <meta charset="utf-8">
    <title>Phenopolis team page.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Baron Koylass">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>

    <!-- Push down container due to fixed navbar -->
    <div class="container">
        <div class="row">
           <div class="col-sm-12 col-md-12">
                <div class="jumbotron">
                    <div class="container">
                        <h1>Phenopolis</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="row">
    
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Dr Nikolas Pontikos</h3>
                  <img src="/static/images/nikolas_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p></p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        
    
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Dr Cian Murphy</h3>
                  <img src="/static/images/cian_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p>Gene burden tests.</p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        </div><div class="row">
    
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Dr Jing Yu</h3>
                  <img src="/static/images/jing_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p></p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        
    
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Mr Daniel Greene</h3>
                  <img src="/static/images/daniel_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p></p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        </div><div class="row">
    
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Mr Ismail Moghul</h3>
                  <img src="/static/images/ismail_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p></p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        
    
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Dr Lucy Withington</h3>
                  <img src="/static/images/lucy_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p></p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        </div><div class="row">
       
    
</div>

<hr>
        
<div class="row"> </div>

<hr>
            </div>
        </div>
    </div>
    <hr /> <footer class="footer">
  <div class="container">
	<p class="pull-xs-right"> 
	  <!-- |  <a href="#">Back to top</a>  | -->
	   </p>        
	<p>&copy; Phenopolis. All rights reserved.</p>
	  </div>
</footer>


    <!-- Jquery libraries for additional client side functionalities
         Please make sure there is only one version of jquery installed. -->

    <!--<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//rawgit.com/bartaz/sandbox.js/master/jquery.highlight.js"></script>
    <!-- <script type='text/javascript' src='//d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script> -->
    <script type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>
