<!DOCTYPE html>
<html class="fuelux" lang="en">

<head>
    <meta charset="utf-8">
    <title>Phenopolis team page.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Baron Koylass">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>

    <!-- Push down container due to fixed navbar -->
    <div class="container">
        <div class="row">
           <div class="col-sm-12 col-md-12">
                <div class="jumbotron">
                    <div class="container">
                        <h1>Phenopolis</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="row">
    
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Dr Nikolas Pontikos</h3>
                  <img src="/static/images/nikolas_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p>I started the development of Phenopolis.</p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        
	<div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Dr Jing Yu</h3>
                  <img src="/static/images/jing_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p>I helped construct the website, and developed pubmedBatch, Phenogenon and several other analyses / visualisations in Phenopolis.
</p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
    

       <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Dr Cian Murphy</h3>
                  <img src="/static/images/cian_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p>I developed gene burden tests and run the CNV pipeline (data to be integrated).</p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
	       
	       
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Mr Daniel Greene</h3>
                  <img src="/static/images/daniel_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p>I helped integrate the SimReg method for discovering
genotype-phenotype associations into phenopolis. SimReg evaluates the
evidence of association between ontologically encoded phenotypes and
rare alleles in given genes. Where there is strong evidence of
association, SimReg also estimates a characteristic phenotype for the
disease caused by pathogenic variants.</p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        </div>

        </div>
			
			
        <div class="row">
    
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Mr Ismail Moghul</h3>
                  <img src="/static/images/ismail_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p>I fixed some of the javascript bugs and improved the UI and performance of the website. </p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Dr Lucy Withington</h3>
                  <img src="/static/images/lucy_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p>I wrote unit tests and did security and usability tests on the website. </p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>

        </div>
        
        
        <div class="row">
    
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Dr Tom Vulliamy</h3>
                  <img src="/static/images/tom_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p>Senior Lecturer and Professor in Molecular Biology</p>
              </div>
              <div class="clearfix"></div>
          </div>

        </div>
        
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>Dr Fiona Blanco-Kelly</h3>
                  <img src="/static/images/fiona_pic.png" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p>I entered and curated a large number of phenotypes encoded using the Human Phenotype Ontology. </p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
    
        </div>

	<div class="row">
	
	<div class="col-sm-6 col-md-6">
	  <div class="thumbnail team-member">
	      <div class="caption">
		<h3>Mr Baron Koylass</h3>
		<img src="/static/images/baron_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
		<p>I am an MSc student of the Genetics of Human Disease program at University College London, doing my Masters project on Phenopolis.</p>
	      </div>
              <div class="clearfix"></div>
           </div>
	</div>

	<div class="col-sm-6 col-md-6">
	  <div class="thumbnail team-member">
	      <div class="caption">
		<h3>Mr Sajid Mughal</h3>
		<img src="/static/images/sajd_pic.jpeg" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
        <p>I am a software developer developing graph databases for Phenopolis.
        My project page is <a href="https://github.com/sajid-mughal/pheno4j">here</a>.</p>
	      </div>
              <div class="clearfix"></div>
           </div>
	</div>



	</div>
	

<hr>
        
<div class="row"> </div>

<hr>
            </div>
        </div>
    </div>

<footer class="footer">
  <div class="container"> <p class="pull-xs-right"> </p> </div>
</footer>


    <!-- Jquery libraries for additional client side functionalities
         Please make sure there is only one version of jquery installed. -->

    <!--<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//rawgit.com/bartaz/sandbox.js/master/jquery.highlight.js"></script>
    <!-- <script type='text/javascript' src='//d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script> -->
    <script type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>
