{% extends "material_app_layout.html" %} {% block body %}
<div class="container">
    <div class="card z-depth-3">
        <div class="card-content">
            <h3 class="truncate" style="font-weight: 300">Variant: </span>{{ variant.chrom }}:{{ variant.pos }} {{ variant.ref }} / {{ variant.alt }}</h3>
            <table class="info_table">
                <tbody>
                    <tr>
                        <td>Filter Status</td>
                        <td>{{ variant.FILTER }}</td> 
                        <!-- Make the above red if variant.FILTER != "PASS" -->
                    </tr>
                    <tr>
                        <td>Gene</td>
                        <td>{{ variant.canonical_gene_name_upper|unique|href(link='gene') }}</td>
                    </tr>
                    <tr>
                        <td>Consequence</td>
                        <td>{{variant.most_severe_consequence}}=</td>
                    </tr>
                    <tr>
                        <td>Transcript</td>
                        <td>{{ variant.canonical_transcript|unique|href(link='transcript') }}</td>
                    </tr>
                    <tr>
                        <td>dbSNP</td>
                        {% if variant.id and variant.id != "." %}
                            <td><a href="http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs={{ variant.id }}" target="_blank">{{ variant.id }}</a></td>
                        {% else %}
                            <td>Not found in dbSNP</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Allele Frequency</td>
                        <td>{% if variant.AF %}{{ '%0.4g' % variant.AF }}{% else %}NA (Allele Number = 0){% endif %}</td>
                    </tr>
                    <tr>
                        <td>Kaviar</td>
                        <td>{{variant.kaviar}}</td>
                    </tr>
                    <tr>
                        <td>ExAC</td>
                        <td>{{variant.EXAC.AF}}</td>
                    </tr>
                    <tr>
                        <td>Allele Count</td>
                        <td>{{ variant.AC|int }} / {{ variant.AN|int }}</td>
                    </tr>
                    <tr>
                        <td>External Services</td>
                        <td>
                            <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&highlight=hg19.chr{{ variant.chrom|string }}%3A{{ variant.pos|string }}-{{ variant.pos|int + variant.ref|length - 1 }}&position=chr{{ variant.chrom|string }}%3A{{ variant.pos|int - 25 }}-{{ variant.pos|int + variant.ref|length - 1 + 25 }}" target="_blank"><i class="material-icons" style="font-size:1rem;">open_in_new</i> UCSC</a> &#149;
                            <a href="http://exac.broadinstitute.org/variant/{{ variant.chrom }}-{{ variant.pos }}-{{ variant.ref }}-{{ variant.alt }}" target="_blank"><i class="material-icons" style="font-size:1rem;">open_in_new</i> ExAC</a> &#149;
                            <a href="http://varsome.com/variant/{{ variant.chrom }}-{{ variant.pos }}-{{ variant.ref }}-{{ variant.alt }}" target="_blank"><i class="material-icons" style="font-size:1rem;">open_in_new</i> Varsome</a> &#149;
                            {% if not variant.rsid or variant.rsid == "." %}
                                <a href="http://www.ncbi.nlm.nih.gov/clinvar?term=({{ variant.chrom }}%5BChromosome%5D)%20AND%20{{ variant.pos }}%5BBase%20Position%20for%20Assembly%20GRCh37%5D" target="_blank">
                            {% else %}
                                <a href="http://www.ncbi.nlm.nih.gov/clinvar?term={{ variant.rsid }}%5BVariant%20ID%5D" target="_blank">
                            {% endif %}
                            <i class="material-icons" style="font-size:1rem;">open_in_new</i>Clinvar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-tabs" style="padding-top: 2rem;">
            <ul class="tabs tabs-fixed-width ">
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#frequency_tab">Frequency</a></li>
                <li class="tab"><a class="blue-text text-darken-4" style="font-size: 1rem;" href="#consequences_tab">Consequence ()</a></li>
                <div class="indicator light-blue darken-2" style="z-index:1"></div>
            </ul>
        </div>
        <div class="card-content grey lighten-5">
            <div id="frequency_tab">
                <h4 style="font-weight:300;">Frequency</h4>
                <p>Frequency of the variant in external databases and internally.</p>
            </div>
            <div id="consequences_tab">
                <h4 style="font-weight:300;">Consequences</h4>
                <p>Consequence of the variant on transcripts.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
