<!-- Change Password Modal -->
<div id="change_password_modal" class="modal">
    <div class="modal-content" id="change_password_content">
        <i class="material-icons right modal-close">close</i>
        <h4>Change Password</h4>
        <form id="change_password_form" class="col s12">
            <div class="row">
                <input id="change_pwd_name" type="hidden" value={{session['user']}} name="change_pwd_name">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="current_password" type="password" name="current_password">
                    <label for="current_password">Current password</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="new_password_1" type="password" name="new_password_1">
                    <label for="new_password_1">New password</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="new_password_2" type="password" name="new_password_2">
                    <label for="new_password_2">Retype new password</label>
                </div>
                <p class="col s12" id="change_password_form_error_msg" style="display:none; color: #F44336; margin-top: 0; margin-left: -1em;">
                    Password change failed. Please try again.
                    <br>Contact us if you continue to have issues.
                </p>
            </div>
</form>
        <p id="change_password_successful" style="color:#4CAF50; display: none;">Your password has been changed.</p>
    </div>
    <div class="modal-footer" style="border-top: 1px solid rgba(0, 0, 0, 0.1)">
        <a href="#!" class="modal-action modal-close left waves-effect waves-red btn-flat">Cancel</a>
        <a id="submit_change_password_btn" href="#!" class="waves-effect waves-green btn-flat">Change Password</a>
    </div>
</div>
