/<footer class="page-footer light-blue darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">Phenopolis is an open platform for harmonization and analysis of sequencing and phenotype data. The Phenopolis code is available at github. Funding is currently provided mainly by RP Fighting Blindness, NIHR (UCL-Moorfields Eyes Hospital Biomedical Research Center) and in part by the UK Medical Research Council and the British Heart Foundation. </p>
            </div>
            <div class="col l3 s6">
                <h5 class="white-text">Useful Links</h5>
                <ul>
                    <li><a class="white-text" target="_blank" href="http://biorxiv.org/content/early/2016/10/31/084582">Publication</a></li>
                    <li><a class="white-text" href="/faq">Frequently Asked Questions</a></li>
                    <li><a class="white-text" href="about#team">The Team</a></li>
                    <li><a class="white-text" href="https://github.com/phenopolis/phenopolis/issues">Report Issues</a></li>
                    <li><a class="white-text" href="mailto:phenopolis@gmail.com">Contact</a></li>
                </ul>
            </div>
            <div class="col l3 s6">
                <h5 class="white-text">External Links</h5>
                <ul>
                    <li><a class="white-text" href="http://human-phenotype-ontology.github.io/">Human Phenotype Ontology</a></li>
                    <li><a class="white-text" href="https://monarchinitiative.org/">Monarch Initiative</a></li>
                    <li><a class="white-text" href="https://phenotips.org/">Phenotips</a></li>
                    <li><a class="white-text" href="https://decipher.sanger.ac.uk/">DECIPHER</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="right" style="font-size:24px;">
                <a class="white-text" href="https://twitter.com/phenopolis" target="_blank" style="padding-right:10px"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a class="white-text" href="https://github.com/phenopolis/phenopolis" target="_blank" ><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
            If you use Phenopolis, please cite us as: <a class="brown-text text-lighten-4" href="http://biorxiv.org/content/early/2016/10/31/084582">Citation</a>
            <br> A UK Inherited Retinal Dystrophy Consortium effort, supported by <a href="http://www.rpfightingblindness.org.uk/home.php?home=yes" class="brown-text text-lighten-4">RP Fighting Blindness</a>, <a href="http://www.mrc.ac.uk" class="brown-text text-lighten-4">the Medical Research Council</a> and <a href="http://www.moorfields.nhs.uk/" class="brown-text text-lighten-4">Moorfields Eye Hospital</a>.
        </div>
    </div>
</footer>
