<!-- NAVBAR DROPDOWN -->
<ul class="dropdown-content collection" id="navbar_side_dropdown" style="z-index:5;">
    <li class="collection-item avatar" onclick="window.open('https://doi.org/10.1093/bioinformatics/btx147','_blank');">
        <i class="material-icons circle light-blue accent-2"> class</i><span class="title">Publication</span>
    </li>
    <li class="collection-item avatar" onclick="window.open('/faq', '_self');">
        <i class="material-icons circle light-blue accent-2"> live_help</i><span class="title">FAQs</span>
    </li>
    <li class="collection-item avatar" onclick="window.open('/feedback', '_self');">
        <i class="material-icons circle light-blue accent-2"> feedback</i><span class="title">Feedback</span>
    </li>
    <li class="collection-item avatar" onclick="window.open('/logout', '_self');" style="cursor: pointer;">
        <i class="material-icons circle light-blue accent-2"> power_settings_new</i><span class="title">Log Out</span>
    </li>
</ul>
