<h5>Primary immune deficiencies:</h5>
<ol>
    <li>Phosphoinositide 3-Kinase δ Gene Mutation Predisposes to Respiratory Infection and Airway Damage, Angulo I, Vadas O, Garçon F, Banham-Hall E, Plagnol V, Leahy TR, Baxendale H, Coulter T, Curtis J, Wu C, Blake-Palmer K, Perisic O, Smyth D, Maes M,Fiddler C, Juss J, Cilliers D, Markelj G, Chandra A, Farmer G, Kielkowska A, Clark J, Kracker S, Debré M, Picard C, Pellier I, Jabado N, Morris JA, Barcenas-Morales G, Fischer A, Stephens L, Hawkins P, Barrett JC, Abinun M, Clatworthy M, Durandy A, Doffinger R, Chilvers E, Cant AJ, Kumararatne D, Okkenhaug K,Williams RL, Condliffe A, Nejentsev S., Science 2013</li>
    <li>LRBA gene deletion in a patient presenting with autoimmunity without hypogammaglobulinemia. Burns SO, Zenner HL, Plagnol V, Curtis J, Mok K, Eisenhut M, Kumararatne D, Doffinger R, Thrasher AJ, Nejentsev S. J Allergy Clin Immunol. 2012 </li>
</ol>
<h5>Ophthalmology:</h5>
<ol>
    <li>Mutations in ARL2BP, Encoding ADP-Ribosylation-Factor-Like 2 Binding Protein, Cause Autosomal-Recessive Retinitis Pigmentosa, Davidson AE, Schwarz N, Zelinger L, Stern-Schneider G, Shoemark A, Spitzbarth B, Gross M, Laxer U, Sosna J, Sergouniotis PI, Waseem NH, Wilson R, Kahn RA, Plagnol V, Wolfrum U, Banin E, Hardcastle AJ, Cheetham ME, Sharon D, Webster AR, Am J Hum Genet. 2013</li>
    <li>RP1L1 variants are associated with a spectrum of inherited retinal diseases including retinitis pigmentosa and occult macular dystrophy., Davidson AE, Sergouniotis PI, Mackay DS, Wright GA, Waseem NH, Michaelides M, Holder GE, Robson AG, Moore AT, Plagnol V, Webster AR. Hum Mutat. 2013</li>
    <li>Recessive mutations in KCNJ13, encoding an inwardly rectifying potassium channel subunit, cause leber congenital amaurosis. Sergouniotis PI, Davidson AE, Mackay DS, Li Z, Yang X, Plagnol V, Moore AT, Webster AR. Am J Hum Genet. 2011</li>
    <li>Biallelic mutations in PLA2G5, encoding group V phospholipase A2, cause benign fleck retina., Sergouniotis PI, Davidson AE, Mackay DS, Lenassi E, Li Z, Robson AG, Yang X, Kam JH, Isaacs TW, Holder GE, Jeffery G, Beck JA, Moore AT, Plagnol V, Webster AR. Am J Hum Genet. 2011</li>
</ol>
<h5>Dermatology:</h5>
<ol>
    <li>Mutations in AQP5, Encoding a Water-Channel Protein, Cause Autosomal-Dominant Diffuse Nonepidermolytic Palmoplantar Keratoderma. Blaydon DC, Lind LK, Plagnol V, Linton KJ, Smith FJ, Wilson NJ, McLean WH, Munro CS, South AP, Leigh IM, O'Toole EA, Lundström A, Kelsell DP., Am J Hum Genet. 2013</li>
    <li>A missense mutation in the MBTPS2 gene underlies the X-linked form of Olmsted syndrome. Haghighi A, Scott CA, Poon DS, Yaghoobi R, Saleh-Gohari N, Plagnol V, Kelsell DP. J Invest Dermatol. 2013</li>
    <li>RHBDF2 mutations are associated with tylosis, a familial esophageal cancer syndrome. Blaydon DC, Etheridge SL, Risk JM, Hennies HC, Gay LJ, Carroll R, Plagnol V, McRonald FE, Stevens HP, Spurr NK, Bishop DT, Ellis A, Jankowski J, Field JK, Leigh IM, South AP, Kelsell DP. Am J Hum Genet. 2012</li>
    <li>Inflammatory skin and bowel disease linked to ADAM17 deletion. Blaydon DC, Biancheri P, Di WL, Plagnol V, Cabral RM, Brooke MA, van Heel DA, Ruschendorf F, Toynbee M, Walne A, O'Toole EA, Martin JE, Lindley K, Vulliamy T, Abrams DJ, MacDonald TT, Harper JI, Kelsell DP. N Engl J Med. 2011</li>
</ol>
<h5>Bone marrow failure:</h5>
<ol>
    <li>Constitutional mutations in RTEL1 cause severe dyskeratosis congenita. Walne AJ, Vulliamy T, Kirwan M, Plagnol V, Dokal I. Am J Hum Genet. 2013</li>
    <li>Exome sequencing identifies autosomal-dominant SRP72 mutations associated with familial aplasia and myelodysplasia. Kirwan M, Walne AJ, Plagnol V, Velangi M, Ho A, Hossain U, Vulliamy T, Dokal I. Am J Hum Genet. 2012</li>
    <li>Exome sequencing identifies MPL as a causative gene in familial aplastic anemia. Walne AJ, Dokal A, Plagnol V, Beswick R, Kirwan M, de la Fuente J, Vulliamy T, Dokal I. Haematologica. 2012</li>
</ol>
<h5>Cardiovascular disorders:</h5>
<ol>
    <li>Genetic complexity in hypertrophic cardiomyopathy revealed by high-throughput sequencing. Lopes LR, Zekavati A, Syrris P, Hubank M, Giambartolomei C, Dalageorgou C, Jenkins S, McKenna W; Uk10k Consortium, Plagnol V, Elliott PM. J Med Genet. 2013</li>
</ol>
<h5>Neurology:</h5>
<ol>
    <li>Mutations in ANO3 cause dominant craniocervical dystonia: ion channel implicated in pathogenesis. Charlesworth G, Plagnol V, Holmström KM, Bras J, Sheerin UM, Preza E, Rubio-Agusti I, Ryten M, Schneider SA, Stamelou M, Trabzuni D, Abramov AY, Bhatia KP, Wood NW. Am J Hum Genet. 2012</li>
    <li>Kohlschütter-Tönz syndrome: mutations in ROGDI and evidence of genetic heterogeneity. Tucci A, Kara E, Schossig A, Wolf NI, Plagnol V, Fawcett K, Paisán-Ruiz C, Moore M, Hernandez D, Musumeci S, Tennison M, Hennekam R, Palmeri S, Malandrini A, Raskin S, Donnai D, Hennig C, Tzschach A, Hordijk R, Bast T, Wimmer K, Lo CN, Shorvon S, Mefford H, Eichler EE, Hall R, Hayes I, Hardy J, Singleton A, Zschocke J, Houlden H. Hum Mutat. 2013</li>
</ol>
<h5>Other disease fields:</h5>
<ol>
    <li>Recessive oligodontia linked to a homozygous loss-of-function mutation in the SMOC2 gene, Alfawaz S, Fong F, Plagnol V, Wong FS, Fearne J, Kelsell DP. Arch Oral Biol. 2013 May;58(5):462-6. doi: 10.1016/j.archoralbio.2012.12.008. Epub 2013 Jan 11.</li>
    <li>Cryptogenic multifocal ulcerating stenosing enteritis associated with homozygous deletion mutations in cytosolic phospholipase A2-α Brooke MA, Longhurst HJ, Plagnol V, Kirkby NS, Mitchell JA, Rüschendorf F, Warner TD, Kelsell DP, Macdonald TT. Gut. 2012</li>
</ol>
