<tr class="tablesorter-ignoreRow">
    <td class="" colspan="20" style="background-color: initial;">
        <div class="table-footer ts-pager">
            <div class="tables_length">
                <label><span>Rows per page:</span>
                    <select class="browser-default pagesize" title="Select page size">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="all">All</option>
                    </select>
                </label>
            </div>
            <div class="table-info">
                <span class="pagedisplay"></span>
            </div>
            <div class="table-navigation">
                <button class="waves-effect btn-flat first"><i class="material-icons">first_page</i></button>
                <button class="waves-effect btn-flat prev"><i class="material-icons">navigate_before</i></button>
                <button class="waves-effect btn-flat next"><i class="material-icons">navigate_next</i></button>
                <button class="waves-effect btn-flat last"><i class="material-icons">last_page</i></button>
            </div>
        </div>
    </td>
</tr>
