<div id="individual-tab_Exomiser" class="tab-pane">
        <ul>
            {# <li><a href="/static/Exomiser/{{external_id}}/exomiser-7-2-1-None.html">Exomiser None</a></li> #}
            <li><a href="/static/Exomiser/{{external_id}}/exomiser-7-2-1-AUTOSOMAL_DOMINANT.html">Exomiser Autosomal Dominant</a></li>
            <li><a href="/static/Exomiser/{{external_id}}/exomiser-7-2-1-AUTOSOMAL_RECESSIVE.html">Exomiser Autosomal Recessive</a></li>
            <li><a href="/static/Exomiser/{{external_id}}/exomiser-7-2-1-X_RECESSIVE.html">Exomiser X-linked</a></li>
        </ul>
</div>

