<!-- download tab -->
<div id="individual-tab_downloads" class="tab-pane">
    <div class="row search-term">
        <div class='col-md-12'>
            <button class='btn btn-success download-csv' csv='homozygous_variants'>Download Rare-hom csv file</button>
        </div>
    </div>
    <div class="row search-term">
        <div class='col-md-12'>
            <button class='btn btn-success download-csv' csv='compound_hets'>Download compound-het csv file</button>
        </div>
    </div>
    <div class="row search-term">
        <div class='col-md-12'>
            <button class='btn btn-success download-csv' csv='rare_variants'>Download Rare-variants csv file</button>
        </div>
    </div>
    <div class="row search-term">
        <div class='col-md-12'>
            <button class='btn btn-success download-csv' csv='all_variants'>Download All-variants csv file</button>
        </div>
    </div>
    <div class="row search-term">
        <div class='col-md-12'>
            <button class='btn btn-success download' filetype='VCF_DIR' index=false>Download VCF file</button>
            <button class='btn btn-success download' filetype='VCF_DIR' index=true>Download VCF file index</button>
        </div>
    </div>
    <div class="row search-term">
        <div class='col-md-12'>
            <button class='btn btn-success download' filetype='BAM_DIR' index=false>Download BAM file</button>
            <button class='btn btn-success download' filetype='BAM_DIR' index=true>Download BAM file index</button>
        </div>
    </div>
</div>


