

<!-- filter cell -->
{% if v.FILTER == 3 %}
<tr class='table-gene error' 
{% elif v.filter == "FAIL" %}
<tr class='table-gene fail' 
{% elif v.FILTER.startswith('VQSRTrancheSNP') %}
<tr class='table-gene warn' 
{% elif v.FILTER=='PASS' %}
 <tr style="table-gene word-wrap; break-word"
{% else %}
 <tr style="table-gene word-wrap; break-word"
{% endif %}
 id='{{variant_type}}-{{ v.canonical_gene_name_upper }}'>


<!-- Gene cell -->
<td class='Gene-cell'>
{% if v.canonical_gene_name_upper in gene_info %}
    {% set gene=gene_info[v.canonical_gene_name_upper]  %}
{% if gene.known %}
    <span class='known'>[K]</span>
{% endif %}
{% if gene.disease %}
    <span class='pop pointer' 
        data-toggle='popover' 
        title='<a href="https://sph.uth.edu/Retnet/disease.htm" target="_blank">A RetNet gene</a>'                                   
        data-content='
            {% if gene.omim %}
                <p style="color:black;margin-bottom:0"><b>OMIM:</b>
                {% for o in gene.omim %}
                    <a href="http://omim.org/entry/{{ o }}" target="_blank">{{ o }}</a>
                {% endfor %}
            {% endif %}
            </p><hr/><p style="color:black;margin-top:0"><b>Disease:</b><br /> {{ gene.disease }}
        </p>'>
        <span class="retnet-mode"><b>[{{ gene.mode|capitalize() }}]</b></span>
    </span>
{% endif %}
{% endif %}
<a class='tip' title="<b>score:</b> {{v.exomiser['score']}}" href='/gene/{{ v.canonical_gene_name_upper }}'>{{ v.canonical_gene_name_upper }}</a>
</td>

<!-- Exomiser -->
<td class=exomiser-gene-score-cell>
{{v.exomiser['score']}}
</td>

<!-- gene-hpo -->
<td class='gene-hpo-cell'>
{% if variant_type == 'rare' %}
    {% set gene_hpo_mode = 'dominant' %}
{% else %}
    {% set gene_hpo_mode = 'recessive' %}
{% endif %}
{% if v.gene_id in retinal_genes[gene_hpo_mode] %}
    {{ retinal_genes[gene_hpo_mode][v.gene_id] }}
{% endif %}
</td>

<!-- HPO term -->
<td class=HPO-cell>
{% if v["HPO"] %}
    {% for h in v["HPO"] %}
        <a href='/hpo/{{ h.hpo_id }}' class='tip' title="{{ h.hpo_term }}" target='_blank'>{{ h.hpo_term | truncate(10)}}...</a><br />
    {% endfor %}
{% endif %}
</td>

<!-- pubmed cell -->
<td class='pubmed-gene-cell'>
    {% if genes_pubmed[v.canonical_gene_name_upper]  %}
    {% set pub=genes_pubmed[v.canonical_gene_name_upper]  %}
    <span class='hidden' style='visibility:hidden;'>{{ pub['score'] }}</span> 
            {% for r in pub['result']['results'] %}
                <span class='pop-modal pointer' data-toggle='popover' title='<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ r.id }}" target="_blank">{{ r.title|replace("'",'&#39;')|replace('"','&#34;')|replace('<','&#60;')|replace('>','&#62;') }}</a>' data-content='{{ r.abstract|replace("'",'&#39;')|replace('"','&#34;')|replace('<','&#60;')|replace('>','&#62;')|highlight([v.canonical_gene_name_upper],'gene-emphasis')|highlight(patient.pubmed_key.split('-') ,'OR-emphasis')  }} '> 
                    {{ r.id }}
                </span>
            {% endfor %}
    {% endif %}
</td>

<!-- variant_id cell -->
<td class="variant_id-cell">
    <span style='word-break: break-all;' data-placement='right' class='pop pointer variant_id'>{{ v.variant_id }}</span><br/>
    {% if v.ID.startswith('rs') %}
        <a href='http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs={{v.ID}}'><small>{{ v.ID }}</small></a> <br/>
    {% endif %}
    <a href='/sequence?variant_id={{ v.variant_id }}&symbol={{ v.HUGO }}&build=grch37'><small>Primer design</small></a>
</td>



<!-- UCLex allele_freq -->
<td class='allele-freq-cell'>
<span class='tip' title='{{ v.allele_count~'/'~v.allele_num }}<br /><b>Missing cases: </b>{{ v.MISS_COUNT }}'>{{'%0.4f' % v.allele_freq|float }}</span>
</td>


<!-- ExAC allele_freq -->
<td class='ExAC-freq-cell'>
    {% if v.EXAC %}
        <span class='tip' title="{% for k in v.EXAC|sort %}
               <b>{{k}}: </b> {{'%0.2f' % v.EXAC[k]|float }}<br />
            {% endfor %}
            ">{{'%0.6f' % v.EXAC['AF'] }}</span>
    {% else %}
        <b>Not in ExAC</b>
    {% endif %}
</td> 

<!-- kaviar -->
<td class='kaviar-freq-cell'>
{% if v.kaviar %}
    <span class='tip'>{{'%0.6f' % v.kaviar|float }}</span>
{% else %}
    <b>Not in Kaviar</b>
{% endif %}
</td>

<!-- consequence -->
<td class=most-severe-consequence-cell>
    {{v.most_severe_consequence}}
</td>

<!-- protein change cell -->
<td class="hgvsp-cell">
<span class='tip' title="{{v.transcripts|length}}"> <b></b> </span>
{{v.canonical_hgvsc}}
{{ v.canonical_hgvsp }}
</td>

<!-- cadd score cell -->
<td class="canonical_cadd-cell">
{{ v.canonical_cadd[0] }}
</td>


<!-- first 10 het individuals -->
<td class="het_individuals-cell">
{% for s in v.het_samples[:10]|sort %}
{% if individuals[s]|length > 1 %}
<b> <span  data-placement='left' class='pop pointer individual_id' variantids='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'>{{s}}</span><br/> </b>
{% else %}
<span  data-placement='left' class='pop pointer individual_id' variantids='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'>{{s}}</span><br/>
{% endif %}
{% endfor %}
</td>

<!-- first 10 hom individuals -->
<td class="hom_individuals-cell">
{% for s in v.hom_samples[:10]|sort %}
{% if individuals[s]|length > 1 %}
<b> <span  data-placement='left' class='pop pointer individual_id' variantids='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'>{{s}}</span><br/> </b>
{% else %}
<span  data-placement='left' class='pop pointer individual_id' variantids='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'>{{s}}</span><br/>
{% endif %}
{% endfor %}
</td>


{% if patient is defined %}
<!-- status -->
<td class="status-cell">
<form name={{v.variant_id}}>
  <input type="radio" name="{{v['variant_id']}}" class="variant_status" value="{{v['variant_id']}}/Y"
  {% if v.status=="Y" or v.HUGO in candidate_genes or v.HUGO in patient.solved.gene %}
      checked="checked"
  {% endif %}
  > Y</input>
  <input type="radio" name="{{v['variant_id']}}" class="variant_status" value="{{v['variant_id']}}/N"
  {% if v.status=="N" %}
      checked="checked"
  {% endif %}
  > N</input>
  <input type="radio" name="{{v['variant_id']}}" class="variant_status" value="{{v['variant_id']}}/M"
  {% if v.status== "M" %}
      checked="checked"
  {% endif %}
  > M</input>
</form>
</td>
{% endif %}

</tr>
