

{% if v.canonical_gene_name_upper in candidate_genes %}
<div id='candidate_gene_variant' class='candidate_gene_variant' >
{% endif %}

<!-- filter cell -->
{% if v.FILTER == 3 %}
<tr class='table-gene error' 
{% elif v.filter == "FAIL" %}
<tr class='table-gene fail' 
{% elif v.FILTER.startswith('VQSRTrancheSNP') %}
<tr class='table-gene warn' 
{% elif v.FILTER=='PASS' %}
 <tr style="table-gene word-wrap; break-word"
{% else %}
 <tr style="table-gene word-wrap; break-word"
{% endif %}
 id='{{variant_type}}-{{ v.canonical_gene_name_upper }}'
 {% if v.canonical_gene_name_upper in candidate_genes %}
 class='highlight'
 {% endif %}
 >


<!-- Gene cell -->
<td class='Genes-cell'>
{% if v.canonical_gene_name_upper in gene_info %}
    {% set gene=gene_info[v.canonical_gene_name_upper]  %}
{% if gene.known %}
    <span class='known'>[K]</span>
{% endif %}
{% if gene.disease %}
    <span class='pop pointer' 
        data-toggle='popover' 
        title='<a href="https://sph.uth.edu/Retnet/disease.htm" target="_blank">A RetNet gene</a>' data-content='
            {% if gene.omim %}
                <p style="color:black;margin-bottom:0"><b>OMIM:</b>
                {% for o in gene.omim %}
                    <a href="http://omim.org/entry/{{ o }}" target="_blank">{{ o }}</a>
                {% endfor %}
            {% endif %}
            </p><hr/><p style="color:black;margin-top:0"><b>Disease:</b><br /> {{ gene.disease }}
        </p>'>
        <span class="retnet-mode"><b>[{{ gene.mode|capitalize() }}]</b></span>
    </span>
{% endif %}
{% endif %}
{{ v.transcript_consequences|map(attribute='gene_symbol')|unique|href(link='gene') }}
</td>

<!-- Exomiser -->
<td class='exomiser-gene-score-cell'>
{%if v.exomiser and v.exomiser.score %}
<a tabindex="0" data-html="true" data-toggle="popover" data-placement="right" title="Exomiser evidence" data-trigger="focus" data-content='
 <p style="color:black;margin-bottom:0">
    {% for pe in v.exomiser.phenotypeEvidence %}
<b>org: </b>{{pe.organism}}<br>
<b>score: </b>{{"%0.2f" % pe.score}}<br>
<b>model: </b>
{% set modelId=pe.model.modelId.split('_')[0] %}
{% if pe.organism=="HUMAN" %}
{% set modelId=pe.model.modelId.split('_')[0] %}
{% set modelId=modelId.split(':')[1] %}
<a href="http://www.omim.org/{{modelId}}" target="_blank">{{pe.modelId}}</a>
{% elif pe.organism=="MOUSE" %}
<a href="http://www.informatics.jax.org/marker//{{modelId}}" target="_blank">{{pe.modelId}}</a>
{% elif pe.organism=="FISH" %}
<a href="https://zfin.org/{{modelId}}" target="_blank">{{pe.modelId}}</a>
{% endif %}
<br>
<hr>
{% endfor %}
</p>
'>{{'%0.2f' % v.exomiser['score']}}</a>
{% endif %}
</td>

<!-- gene-hpo -->
<td class='Pheno-genon-gene-score-cell'>
{% if variant_type == 'rare' %}
    {% set gene_hpo_mode = 'dominant' %}
{% else %}
    {% set gene_hpo_mode = 'recessive' %}
{% endif %}
{% if v.gene_id in retinal_genes[gene_hpo_mode] %}
{% if retinal_genes[gene_hpo_mode][v.gene_id] %}
    {{ '%0.2f' % retinal_genes[gene_hpo_mode][v.gene_id] }}
{% endif %}
{% endif %}
</td>

<!-- HPO term -->
<td class=OMIM-HPO-cell>
{% if v["HPO"] %}
    {% for h in v["HPO"] %}
        <a href='/hpo/{{ h.hpo_id }}' class='tip' title="{{ h.hpo_term }}" target='_blank'>{{ h.hpo_term | truncate(10)}}...</a><br />
    {% endfor %}
{% endif %}
</td>

<!-- pubmed cell -->
<td class='pubmed-gene-cell' pubmedkey="{{ v.canonical_gene_name_upper }}_{{ patient.pubmed_key }}">
    {% set pubmed_key=v.canonical_gene_name_upper+'_'+patient.pubmed_key %}
    <span class='hidden'>{{ pubmedbatch[pubmed_key] }}</span>
    <img src='/static/Loading_icon.gif' style="width:60px;height:60px;" >
</td>

<!-- variant_id cell -->
<td class="variant-id-cell">
    <span style='word-break: break-all;' data-placement='right' class='pop pointer variant_id'>{{ v.variant_id }}</span><br/>
    {% if v.ID.startswith('rs') %}
        <a href='http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs={{v.ID}}'><small>{{ v.ID }}</small></a> <br/>
    {% endif %}
    <a href='/sequence?variant_id={{ v.variant_id }}&symbol={{ v.HUGO }}&build=grch37'><small>Primer design</small></a>
</td>


<!-- UCLex allele_freq -->
<td class='allele-freq-cell'>
<span class='tip' title='{{ v.allele_count|round|int~'/'~v.allele_num|round|int }}<br /><b>Missing cases: </b>{{ v.MISS_COUNT|round|int }}'>{{'%0.4f' % v.allele_freq|float }}</span>
</td>


<!-- ExAC allele_freq -->
<td class='ExAC-freq-cell'>
    {% if v.EXAC %}
        <span class='tip' title="{% for k in v.EXAC|sort %}
                {% if k[0]=='H' and  v.EXAC[k]|float>0 %}
                   <b>{{k}}: </b> {{'%0.0f' % v.EXAC[k]|float }}<br />
               {% endif %}
            {% endfor %}
            ">{{'%0.6f' % v.EXAC['AF'] }}</span>
    {% else %}
        <b>Not in ExAC</b>
    {% endif %}
</td> 

<!-- kaviar -->
<td class='kaviar-freq-cell'>
{% if v.kaviar %}
    <span class='tip'>{{'%0.6f' % v.kaviar|float }}</span>
{% else %}
    <b>Not in Kaviar</b>
{% endif %}
</td>

<!-- consequence -->
<td class=most-severe-consequence-cell>
    <span class='tip' title="{{v.most_severe_consequence}}">{{v.most_severe_consequence}}</span>
</td>

<!-- protein change cell -->
<td class="hgvsp-cell">
{% for pm in v.protein_mutations %}
   <span class='tip' title="{{ v.protein_mutations[pm] }}<br>{{v.canonical_hgvs[pm]}}">{{ v.protein_mutations[pm] }}</span>
{% endfor %}
</td>

<!-- cadd score cell -->
<td class="canonical-cadd-cell">
{{ v.canonical_cadd[0] }}
</td>


<!-- first 10 het individuals -->
<td class="het-individuals-cell">
{% for s in v.het_samples[:10]|sort %}
{% if individuals[s]|length > 1 %}
    {% if session['user'] == 'demo' %}
        hidden
    {% else %}
        <b> <span  data-placement='left' class='pop pointer individual_id' variantids='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'>{{s}}</span><br/> </b>
    {% endif %}
{% else %}
    {% if session['user'] == 'demo' %}
        hidden
    {% else %}
        <span  data-placement='left' class='pop pointer individual_id' variantids='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'">{{s}}</span><br/>
    {% endif %}
{% endif %}
{% endfor %}
</td>

<!-- first 10 hom individuals -->
<td class="hom-individuals-cell">
{% for s in v.hom_samples[:10]|sort %}
{% if individuals[s]|length > 1 %}
    {% if session['user'] == 'demo' %}
        hidden
    {% else %}
        <b> <span  data-placement='left' class='pop pointer individual_id' variantids='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'>{{s}}</span><br/> </b>
    {% endif %}
{% else %}
    {% if session['user'] == 'demo' %}
        hidden
    {% else %}
        <span  data-placement='left' class='pop pointer individual_id' variantids='{{individuals[s]|map(attribute='variant_id')|join("<br>")}}'>{{s}}</span><br/>
    {% endif %}
{% endif %}
{% endfor %}
</td>


{% if session['user'] != 'demo' %}
{% if patient is defined %}
<!-- status -->
<td class="status-cell">
<form name={{v.variant_id}}>
  <input type="radio" name="{{v['variant_id']}}" class="variant_status" value="{{v['variant_id']}}/Y"
  {% if v.status=="Y" or v.HUGO in candidate_genes or v.HUGO in patient.solved.gene %}
      checked="checked"
  {% endif %}
  > Y</input>
  <input type="radio" name="{{v['variant_id']}}" class="variant_status" value="{{v['variant_id']}}/N"
  {% if v.status=="N" %}
      checked="checked"
  {% endif %}
  > N</input>
  <input type="radio" name="{{v['variant_id']}}" class="variant_status" value="{{v['variant_id']}}/M"
  {% if v.status== "M" %}
      checked="checked"
  {% endif %}
  > M</input>
</form>
</td>
{% endif %}
{% endif %}

</tr>

{% if v.canonical_gene_name_upper in candidate_genes %}
</div>
{% endif %}


