<!-- compound hets -->
<div id="individual-tab_comp_variants" class="tab-pane">
    <div class="row search-term">
        <div class='col-md-12'>
            <form class='form-inline'>
                <div class='form-group'>
                   <label>Pubmed Search term: </label> <input type='text' class='re-search-input' size="80" value='{{ patient.pubmed_key }}' />
                </div>
                <button class='btn btn-primary btn-sm re-search'>Re-search</button>
                <span class='updating'>updating</span>
            </form>
        </div>
    </div>
<div class='row' class='export-row'>
    <a href='#' type='button' class='export btn btn-success'>Export to CSV</a>
</div>
    <table id="comp-hets" class="table-sorter">
            <thead>
                <tr>
                    {% for h in table_headers %}
                    <th id="comp-hets-{{loop.index}}">{{ h }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="comp-hets_table">
                    {% set variant_type="compound_het" %} 
                    {% for v in patient.compound_hets %}
                        {% include "individual-page-tabs/individual_variant_row.tmpl" %}
                    {% endfor %}
            </tbody>
        </tbody>
    </table>
</div>


